.post_types {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;

  @media (max-width: 576px) {
    justify-content: center;
  }

  &__type {
    font-size: var(--column-gap-option-item-xl);
    font-weight: 500;
    cursor: pointer;
    position: relative;

    @media (max-width: 992px) {
      font-size: var(--column-gap-option-item-md);
    }

    @media (max-width: 768px) {
      font-size: var(--column-gap-option-item-sm);
    }

    @media (max-width: 576px) {
      font-size: var(--column-gap-option-item-sm);
    }

    &.active__type {
      background: var(--primary-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Включаем поддержку для Firefox */
      background-clip: text;
      color: transparent;
      line-height: normal;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background: var(--primary-gradient);
      }
    }

    &:hover {
      background: var(--primary-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Включаем поддержку для Firefox */
      background-clip: text;
      color: transparent;
      line-height: normal;
    }
  }
}
