.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 50px;
  padding: 35px 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  // height: 230px;

  @media (max-width: 992px) {
    padding: 15px 25px;
  }

  @media (max-width: 768px) {
    height: unset;
    row-gap: 20px;
    grid-auto-flow: row;
    grid-template: unset;
    padding: 10px;
  }

  .channel__logo__wrapper {
    display: grid;
    align-items: center;

    .channel__logo {
      display: grid;
      grid-auto-flow: row;
      row-gap: 20px;
      justify-items: center;

      .logo {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        justify-content: center;
        justify-items: center;
      }
    }
  }

  .channel__description {
    display: grid;
    grid-template: repeat(3, min-content) / 1fr min-content;
    row-gap: 25px;
    column-gap: 10px;
    grid-template-areas:
      "item1 item2"
      "item3 item3"
      "item4 item4";

    @media (max-width: 768px) {
      grid-auto-flow: row;
      grid-template: unset;
      row-gap: 15px;
      grid-template-areas:
        "item1"
        "item3"
        "item2"
        "item4";
    }

    .title {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      grid-area: item1;

      div {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: 10px;
      }
    }

    .description {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
      grid-area: item3;
    }

    .link {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      align-items: center;
      justify-content: start;
      grid-area: item4;
    }
  }

  .rating {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: start;
  }

  .icons {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
    grid-area: item2;
    justify-self: flex-start;
  }
}
