.wrapper {
  display: grid;
  width: 100%;
  align-content: center;

  &.open {
    border: 1px solid var(--Personal-colors-main);

    .text {
      color: var(--Personal-colors-main) !important;
    }
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: var(--choosen-text);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      .filter {
        display: flex;
        gap: 10px;
        // display: grid;
        // grid-template-columns: max-content 1fr;
        // column-gap: 10px;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;
    }
  }
}

.item {
  display: flex;
  gap: 10px;
  // display: grid;
  // grid-template-columns: max-content 1fr;
  // column-gap: 10px;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Personal-colors-black, #000);

  &:hover {
    color: var(--Personal-colors-main);
    border-radius: 8px;
    background: hsl(var(--accent));

    div {
      border: 1px solid var(--Personal-colors-main);
    }
  }
}
