.channel {
  display: grid;
  grid-template: 1fr / 1fr 40px;
  column-gap: 15px;
  padding: 10px;
  cursor: pointer;
  background: var(--Personal-colors-White);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  position: relative;

  &:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.144);
  }

  &.active {
    border-radius: 10px;
    background: var(--Gradients-Gradient-1);
    p,
    span {
      color: var(--Personal-colors-White);
    }
  }

  &.unread {
    .title {
      background: var(--Gradients-Gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      line-height: normal;
    }
    .date {
      p {
        background: var(--Gradients-Gradient-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        line-height: normal;
      }
    }

    img {
      box-shadow: 0px 2px 2px 0px var(--Personal-colors-main);
    }
  }
}

.info {
  display: grid;
  grid-template: 1fr / max-content 1fr;
  align-content: center;
  column-gap: 15px;
}

.logo {
  display: grid;
  align-content: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  }

  .icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    background: var(--Gradients-Gradient-1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
    border-radius: 50%;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.card__message {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.description {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  max-width: 100%;
  justify-content: space-between;
  align-content: space-between;

  .title {
    color: var(--black-70, #4d4d4d);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text {
    color: var(--Text-sample);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.date {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  align-content: space-between;
  justify-items: end;

  p {
    color: var(--Sub-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
  }

  .unread {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--Personal-colors-main);
    min-height: 20px;
    min-width: 20px;

    span {
      color: var(--Personal-colors-White);
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }
  }
}
