.channel {
  display: grid;
  grid-template: 1fr / 1fr 40px;
  column-gap: 10px;
  padding: 10px;
  cursor: pointer;
  background: var(--Personal-colors-White);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  position: relative;

  &:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.144);
  }

  &.active {
    border-radius: 10px;
    background: var(
      --Gradients-Gradient-1,
      linear-gradient(45deg, #4772e6 23.91%, #8e54e9 75.06%)
    );
    p,
    span {
      color: var(--Personal-colors-White);
    }
  }
}

.info {
  display: grid;
  grid-template: 1fr / max-content 1fr;
  column-gap: 10px;
}

.logo {
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0.5px solid var(--Personal-colors-main);
  }
}

.card__message {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.description {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  max-width: 100%;
  justify-content: space-between;
  align-content: space-between;

  .title {
    // color: var(--Personal-colors-);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text {
    color: var(--Text-sample);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.date {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  align-content: space-between;
  justify-items: end;

  p {
    color: var(--Sub-text);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
  }

  .unread {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--Personal-colors-main);
    min-height: 20px;
    min-width: 20px;

    span {
      color: var(--Personal-colors-White);
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }
  }
}
