.services__wrapper {
  margin-bottom: 100px;
}

.services__title {
  color: var(--Personal-colors-black);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}

.infos {
  display: grid;
  grid-auto-flow: column;
  column-gap: 150px;
}
