.wrapper {
  // display: grid;
  // grid-auto-flow: row;
  // row-gap: 30px;
  // position: relative;
  margin: 0 auto;

  .title {
    color: var(--Personal-colors-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;

    @media (max-width: 576px) {
      text-align: center;
      font-size: 18px;
    }
  }

  .carousel {
    overflow: hidden;
  }
}

.nav {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template: 1fr / 1fr 1fr;
  gap: 20px;
  position: absolute;
  top: 400px;
  right: 5%;

  @media (max-width: 768px) {
    display: none;
  }

  > p {
    background: rgba($color: #4772e6, $alpha: 0.15);
    padding: 10px 11px;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
      svg {
        transform: scale(1.25);
        transition: all 300ms ease;
      }
    }

    &:active {
      transform: scale(0.95);
      transition: all 300ms ease;
    }

    svg {
      stroke: var(--Personal-colors-main);
      width: 30px;
      height: 30px;
    }
  }
}
