.wrapper {
  text-align: center;

  .title {
    color: var(--Personal-colors-black);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
  }

  .channel {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #4772e6;
    background: var(--Personal-colors-White);

    img {
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 1px solid #4772e6;
    }
  }
}
