.search {
  display: grid;
  grid-template: 1fr / minmax(10px, auto) 1fr;
  column-gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--black-20, #ccc);
  background: #fff;
  padding: 5px 10px;
  align-items: center;
  justify-content: left;

  svg {
    height: 20px;
    width: auto;
    transform: scaleX(-1);
  }

  input {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    &::placeholder {
      color: var(--black-20, #ccc);
    }
  }
}
