.disable_radius {
  @media (max-width: 768px) {
    border-radius: 20px 20px 0px 0px !important;
  }
}

.wrapper {
  display: grid;
  grid-template: 1fr min-content / 1fr;
  row-gap: 15px;
  min-height: 220px;
  position: relative;

  @media (max-width: 768px) {
    min-height: 500px;
    align-items: flex-start;
  }
}

.card {
  display: grid;
  grid-template: 1fr / 7.5fr 12fr;
  padding-top: 15px;

  @media (max-width: 768px) {
    grid-template: min-content min-content 1fr / 1fr;
    grid-template-areas:
      "item1"
      "item4"
      "item2";

    row-gap: 15px;
    height: 100%;

    &.request_approve {
      grid-template: min-content min-content 1fr / 1fr;
      grid-template-areas:
        "item1"
        "item4"
        "item2";
    }
  }

  &__description {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    padding: 0 20px;
    border-right: 1px solid var(--Card-separator);

    @media (max-width: 992px) {
      padding: 0 15px;
      grid-template: min-content 1fr / 1fr;
    }

    @media (max-width: 768px) {
      border-right: none;
      row-gap: 10px;
      grid-area: item1;
    }

    &__data {
      display: grid;
      grid-auto-flow: column;
      align-items: end;
      justify-content: space-between;
      column-gap: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--Card-separator);

      &__title {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;

        p {
          color: var(--Personal-colors-black);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
        }

        span {
          color: #a8a4a4;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
        }

        @media (max-width: 992px) {
          p {
            font-size: 14px;
          }
        }
      }

      &__date {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;

        span {
          color: #a8a4a4;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
        }
      }
    }

    &__status {
      position: relative;
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: rgba(15, 105, 201, 0.1);
      padding: 35px 0;
      font-size: 20px;

      p {
        color: var(--Personal-colors-black);
        font-style: normal;
        font-weight: 500;
        line-height: 1;
      }

      @media (max-width: 992px) {
        font-size: 18px;
      }

      @media (max-width: 768px) {
        padding: 20px 0;
        font-size: 16px;
      }
    }
  }

  &__info {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    padding: 0 20px;
    // border-right: 1px solid var(--Card-separator);

    @media (max-width: 992px) {
      grid-template: 1fr / repeat(2, 1fr);
      padding: 0 15px;
    }

    @media (max-width: 768px) {
      grid-template: min-content min-content 1fr / 1fr;
      row-gap: 15px;
      border-right: none;
      grid-area: item2;
    }

    &__data {
      display: grid;
      grid-template: 1fr / repeat(3, 1fr);
      border-bottom: 1px solid var(--Card-separator);
      column-gap: 10px;
      padding-bottom: 20px;

      @media (max-width: 992px) {
        grid-template: repeat(3, 1fr) / 1fr;
        row-gap: 2px;
        padding-bottom: 0;
        border-bottom: none;
        border-right: 1px solid var(--Card-separator);
        padding-right: 15px;
      }

      @media (max-width: 768px) {
        padding-right: 0;
        border-right: none;
      }

      div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        border-radius: 10px;
        background: #f5f5f6;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        padding: 0px 10px;

        p {
          color: rgba(0, 0, 0, 0.45);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
        }

        span {
          color: var(--Personal-colors-black);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;

          display: grid;
          grid-auto-flow: column;
          column-gap: 5px;
          justify-content: start;
          align-items: center;

          small {
            color: var(--Personal-colors-black);
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
          }
        }

        @media (max-width: 992px) {
          justify-content: start;
          justify-items: start;
          p,
          span {
            font-size: 12px;
          }
        }

        @media (max-width: 768px) {
          display: grid;
          grid-auto-flow: column;
          justify-content: space-between;
          padding: 10px;
        }
      }
    }

    &__btns {
      display: grid;
      grid-auto-flow: row;
      gap: 20px;
      padding-top: 20px;
      align-content: center;

      &__actions {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        text-align: center;

        @media (max-width: 992px) {
          grid-auto-flow: row;
        }
      }

      @media (max-width: 992px) {
        padding-top: 0;
        grid-auto-flow: row;
        grid-template: unset;
        gap: 20px;
        padding-left: 15px;
      }

      @media (max-width: 768px) {
        padding-top: 0;
        grid-auto-flow: row;
        grid-template: unset;
        gap: 20px;
        padding-left: 0px;
        align-content: normal;
      }
    }
  }
}

.subcard {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  @media (max-width: 768px) {
    min-height: 500px;
  }
}

.subcard__md {
  display: grid;
  grid-template: 1fr min-content / 1fr;
  align-items: center;
  min-height: 500px;

  .top {
    display: grid;
    grid-template: 1fr min-content / 1fr;
    padding: 12px;
    row-gap: 15px;
    height: 100%;
    align-items: flex-start;
  }
}

.card__btn {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;

  color: var(--Personal-colors-White);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px;
  border-radius: 0px 0px 20px 20px;

  background: var(--primary-gradient);

  @media (max-width: 768px) {
    padding: 8px;
  }
}
