.trigger {
  border-radius: 8px;
  padding: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.content {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 20px;
  height: 50vh;
  width: 50vw;
  max-width: 800px;
  max-height: 400px;
  padding: 40px;

  .title {
    display: grid;
    grid-auto-flow: column;

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .close {
      position: absolute;
      cursor: pointer;
      top: 0px;
      right: 0px;
      padding: 15px;
      border-radius: 50%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .textarea {
    resize: none;
    outline: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
