.wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: center;
}

.button {
  border-radius: 15px;
  border: 1px solid #4772e6;
  padding: 10px;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Gradients-Gradient-1);
  background: #fff;
}
