.wrapper {
  max-width: var(--container-width);
  border-radius: 40px;
  box-shadow: inset 0px 0px 0px 1px var(--Personal-colors-grey);
  background: var(--Personal-colors-White);
  margin: 0 auto 50px auto;

  .top {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    align-items: center;

    padding: 50px 40px;
    border-radius: 40px 40px 0px 40px;
    background: var(--Gradients-Gradient-1);

    justify-content: start;
    color: #fff;
    p {
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    span {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      border: 4px dashed #fff;
      border-radius: 50%;
      font-size: 44px;
      font-weight: bold;
      line-height: 1;
    }

    &.complite {
      border-radius: 40px;
      color: var(--Personal-colors-main);
      border: 1px solid #4772e6;
      background: var(--Personal-colors-White);

      span {
        border: 4px solid var(--Personal-colors-main);
      }
    }
  }

  .form {
    display: grid;
    grid-auto-flow: row;
    padding: 50px;
    row-gap: 50px;
    align-items: center;

    .form__top {
      display: grid;
      grid-auto-flow: row;
      row-gap: 30px;
      align-items: center;
    }
    .form__bottom {
      display: grid;
      grid-auto-flow: row;
      row-gap: 50px;
      align-items: center;

      .button {
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }

      .error {
        background: red;
      }
    }
  }
}

.send {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 220px;
}
