.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 20px;
}

.slider::-webkit-slider-runnable-track {
  border-radius: 20px;
  height: 5px;
  -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
  height: 30px;
  width: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;

  border-radius: 6px;
  border: 0.4px solid var(--black-10, #e5e5e5);
  background: var(--Personal-colors-White, #fff);
  box-shadow:
    7px 7px 3px 0px rgba(0, 0, 0, 0),
    5px 4px 3px 0px rgba(0, 0, 0, 0.01),
    3px 3px 2px 0px rgba(0, 0, 0, 0.05),
    1px 1px 2px 0px rgba(0, 0, 0, 0.09),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
