.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 20px;
}

.slider::-webkit-slider-runnable-track {
  border-radius: 20px;
  height: 5px;
  -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: linear-gradient(-45deg, #f904d9 23.91%, #4772e6 75.06%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
