.customers__wrapper{
    margin-bottom: 200px;
  }
  
.customer__title{
    color: var(--first-text);
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}