.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: var(--row-gap-content-xl);
  margin-top: calc(var(--margin-section-xl) / 2);
  margin-bottom: var(--margin-section-xl);

  @media (max-width: 992px) {
    row-gap: var(--row-gap-content-lg);
    margin-top: calc(var(--margin-section-lg) / 2);
    margin-bottom: var(--margin-section-lg);
  }

  @media (max-width: 768px) {
    row-gap: var(--row-gap-content-md);
    margin-top: calc(var(--margin-section-md) / 2);
    margin-bottom: var(--margin-section-md);
  }

  @media (max-width: 576px) {
    row-gap: var(--row-gap-content-sm);
    margin-top: calc(var(--margin-section-sm) / 2);
    margin-bottom: var(--margin-section-sm);
  }

  @media (max-width: 375px) {
    row-gap: var(--row-gap-content-xs);
    margin-top: calc(var(--margin-section-xs) / 2);
    margin-bottom: var(--margin-section-xs);
  }

  .title {
    display: grid;
    grid-auto-flow: row;
    row-gap: var(--row-gap-title-xl);

    @media (max-width: 992px) {
      row-gap: var(--row-gap-title-lg);
    }

    @media (max-width: 768px) {
      row-gap: var(--row-gap-title-md);
    }

    @media (max-width: 576px) {
      row-gap: var(--row-gap-title-sm);
    }

    @media (max-width: 375px) {
      row-gap: var(--row-gap-title-xs);
    }

    h1 {
      color: var(--Personal-colors-black);
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 95%;

      font-size: var(--font-size-title-main-xl);

      @media (max-width: 992px) {
        width: 100%;
        font-size: var(--font-size-title-main-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-title-main-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-title-main-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-title-main-xs);
      }
    }
    h2 {
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: var(--Personal-colors-main);
      font-size: var(--font-size-subtitle-main-xl);
      background: var(--Gradients-Gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      width: 70%;

      @media (max-width: 992px) {
        font-size: var(--font-size-subtitle-main-lg);
        width: 100%;
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-subtitle-main-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-subtitle-main-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-subtitle-main-xs);
      }
    }
  }
}
