.wrapper {
  display: grid;
  grid-template: 1fr/ 0.9fr 1fr;
  align-items: center;
}

.wrapper__row {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  align-items: center;

  .left {
    p {
      padding-left: 10px;
    }
  }
}

.parameters {
  p {
    color: var(--Personal-colors-black);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  span,
  li {
    color: var(--choosen-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.left {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  justify-content: start;
}
