.wrapper {
  display: grid;
  grid-auto-flow: row;
  border-radius: 12px;
  box-shadow: inset 0px 0px 0px 1.5px var(--Personal-colors-main);
  padding-top: 15px;

  .card {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 1fr 1fr 2fr 2fr 3fr 0.5fr;
    padding-bottom: 15px;

    &__id,
    &__date {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-right: 1px solid var(--Card-separator);
      p {
        color: var(--Personal-colors-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    &__tarif,
    &__price {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      p {
        color: var(--Personal-colors-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      span {
        color: var(--Personal-colors-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .subcard {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 55px;
    border-radius: 12px 12px 0 0;
    border-right: 1px solid var(--Personal-colors-main);
    border-left: 1px solid var(--Personal-colors-main);
    border-top: 1px solid var(--Personal-colors-main);
    padding: 30px 40px 0 40px;

    &__left {
      display: grid;
      grid-auto-flow: row;
      row-gap: 30px;

      .comment {
        display: grid;
        grid-auto-flow: row;
        row-gap: 15px;

        p {
          color: var(--Personal-colors-black);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
        }

        span {
          color: var(--Personal-colors-black);
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .link {
        display: grid;
        grid-auto-flow: row;
        row-gap: 15px;

        p {
          color: var(--Personal-colors-black);
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
        }

        ul {
          display: grid;
          grid-auto-flow: row;

          li {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
          }
        }
      }
    }

    &__right {
      display: grid;
      grid-auto-flow: row;
      row-gap: 25px;
      align-content: space-between;

      .file {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;

        &__top {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          justify-content: space-between;

          p {
            color: var(--Personal-colors-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          span {
            color: var(--Text-sample);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.card__btn {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 11px 0;
  width: 100%;

  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  line-height: 0.75;
  border-radius: 12px;
  background: var(--Gradients-Gradient-1);
}
