.info {
  display: grid;
  justify-items: center;
  align-content: start;
  text-align: center;
  row-gap: 15px;

  .img {
    max-width: 50px;
    max-height: 50px;
  }

  .count {
    color: var(--Personal-colors-black);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 992px) {
      font-size: var(--font-size-subtitle-secondary-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-subtitle-secondary-md);
    }

    @media (max-width: 576px) {
      font-size: var(--font-size-subtitle-secondary-sm);
    }

    @media (max-width: 375px) {
      font-size: var(--font-size-subtitle-secondary-xs);
    }
  }

  .text {
    color: var(--secondary-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 576px) {
      font-size: var(--font-size-sm-button-text);
    }
  }
}
