.content {
  display: grid;
  grid-auto-flow: row;
  width: 50vw;
  max-width: 500px;

  .top {
    padding: 25px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    p {
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
    }

    .close {
      display: grid;
      position: absolute;
      top: 0;
      right: 0;

      button {
        padding: 15px;
      }
    }
  }

  .bottom {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    padding: 20px 30px;

    .info {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;
      padding-bottom: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      .input__wrapper {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;

        span {
          color: #0d0c22;
          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
          padding-left: 10px;
        }

        input {
          display: flex;
          padding: 10px;
          align-items: center;
          gap: 10px;
          flex-shrink: 0;
          align-self: stretch;
          border-radius: 10px;
          border: 1px solid var(--black-20, #ccc);
          background: #fff;
        }
      }
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }
  }
}
