.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 50px 0 100px 0;
}

.title {
  display: flex;
  color: var(--Personal-colors-black);
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-content: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-auto-flow: column;
  column-gap: 30px;
}
