.wrapper {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: start;
  justify-content: start;
  padding: 20px;

  border-radius: 15px;
  border: 1px solid var(--Containers, #8c8c8c);
  background: #fff;

  svg {
    margin-top: 3px;
    width: 12px;
    height: 12px;
  }

  textarea {
    // width: 100%;
    resize: none;
    outline: none;
    color: var(--Personal-colors-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
      color: var(--Text-sample, #a3a0a0);
    }
  }
}
