.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  margin-top: 40px;
}

.top {
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 40px;

  p {
    color: var(--Personal-colors-black);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.cards {
  .cards__list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    align-items: stretch;

    .show_more {
      margin: 10px auto;
    }
  }

  .empty__block {
    margin-top: 15%;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 15vw;
        height: 15vw;
      }
    }

    .title {
      font-size: 26px;
      text-align: center;
      margin-top: 50px;
      color: #bbbbbb;
    }
  }
}
