.trigger {
  transition: all 0.3s ease;

  svg {
    width: 15px;
    height: 15px;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.content {
  max-width: 300px;

  .text {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: justify;
    text-indent: 20px;
  }
}
