.wrapper {
  display: block;
  top: 1rem;
  position: fixed;
  left: var(--left-padding-header);
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  width: var(--header-height-xl);
  border: 1px solid rgba(142, 84, 233, 0.2);
  z-index: 40;

  @media (max-width: 1080px) {
    display: none;
  }

  .row {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    position: relative;
    svg {
      stroke-width: 1.25px;
    }

    &:hover {
      border-radius: 50%;
      background: #e6e6e6;
    }

    &.active_route {
      background: var(--primary-gradient);
      color: #fff;
      border-radius: 50%;
      --start-color: var(--Personal-colors-White);
      --end-color: var(--Personal-colors-White);
    }
  }

  .menu {
    padding-top: calc(var(--container-padding-top) + 3rem);
    display: grid;
    grid-auto-flow: row;
    row-gap: 25px;
    justify-content: center;

    transition: all 0.5s ease;

    &.hidden {
      padding-top: 2rem;
    }

    &.visible {
      padding-top: calc(var(--container-padding-top) + 3rem);
    }

    &__accordion {
      display: grid;
      grid-auto-flow: row;
      row-gap: 8px;
      padding: 10px;

      .item {
        position: relative;

        .mini {
          position: absolute;
          top: 50%;
          left: 80px;
          transform: translate(0, -50%);
        }
      }
    }

    .switcher {
      display: grid;
      justify-content: center;
      align-items: center;

      .link {
        border-radius: 50%;
        cursor: pointer;
      }

      &__row {
        padding: 5px;
        justify-content: center;
        align-content: start;
        border-radius: 1000px;
        border: 1px solid var(--Personal-colors-main);
        display: inline-flex;
        align-items: center;
        margin: 15px 10px;
        width: 45px;
        height: 45px;
        background: var(--primary-gradient);
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 1);
        margin: 1px;

        p {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 1;
          color: var(--Personal-colors-White);
        }
      }
    }
  }
}
