.turnkey__wrapper {
  background-image: url("/images/assets/background2.png");
  background-size: cover;
  background-position: center;
  border-radius: 50px 50px 0 0;
  padding: 40px 0;
  max-width: var(--container-width);
  margin: 0 auto 150px auto;

  svg {
    width: 40px;
    height: 40px;
  }

  // max-width: var(--container-width);
}

.turnkey__column {
  max-width: 870px;
}

.turnkey__row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: start;
}

.turnkey__title {
  color: var(--Personal-colors-black);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.turnkey__subtitle {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 20px 15px 20px;
  border-radius: 12px;
  background: var(--Gradients-Gradient-1);
  margin-bottom: 20px;
}

.turnkey__text {
  color: #303030;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
  max-width: 812px;
}
