.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: var(--row-gap-content-xl);
  margin-top: calc(var(--margin-section-xl) / 2);
  margin-bottom: var(--margin-section-xl);

  @media (max-width: 992px) {
    row-gap: var(--row-gap-content-lg);
    margin-top: calc(var(--margin-section-lg) / 2);
    margin-bottom: var(--margin-section-lg);
  }

  @media (max-width: 768px) {
    row-gap: var(--row-gap-content-md);
    margin-top: calc(var(--margin-section-md) / 2);
    margin-bottom: var(--margin-section-md);
  }

  @media (max-width: 576px) {
    row-gap: var(--row-gap-content-sm);
    margin-top: calc(var(--margin-section-sm) / 2);
    margin-bottom: var(--margin-section-sm);
  }

  @media (max-width: 375px) {
    row-gap: var(--row-gap-content-xs);
    margin-top: calc(var(--margin-section-xs) / 2);
    margin-bottom: var(--margin-section-xs);
  }
}
