.wrapper {
  display: grid;
  grid-template: 1fr/ 0.9fr 1fr;
  align-items: center;
}

.wrapper__row {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;
  align-items: center;

  .title {
    p {
      padding-left: 10px;
    }
  }
}

.title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  justify-content: start;

  p {
    color: var(--Personal-colors-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  svg {
    &:hover .text {
      display: block;
    }

    .text {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.slider {
  display: grid;
  grid-template: 1fr / 70px 1fr 70px;
  column-gap: 10px;
  align-items: center;
  row-gap: 10px;
  font-size: 16px;
  font-weight: 500;

  &.isCatalog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;

    & > :nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      justify-content: flex-start !important;
    }

    & > :nth-child(3) {
      grid-column: 2;
      grid-row: 1;
      justify-content: flex-end !important;
    }

    & > :nth-child(2) {
      grid-column: span 2;
      grid-row: 2;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;

    & > :nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      justify-content: flex-start !important;
    }

    & > :nth-child(3) {
      grid-column: 2;
      grid-row: 1;
      justify-content: flex-end !important;
    }

    & > :nth-child(2) {
      grid-column: span 2;
      grid-row: 2;
    }
  }

  .man,
  .woman {
    color: var(--color-sex-man);
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    white-space: nowrap;

    svg {
      width: 13px;
      height: 22px;
    }
  }

  .man {
    color: var(--color-sex-man);
    justify-content: flex-end;
  }

  .woman {
    color: var(--color-sex-woman);
    justify-content: flex-start;
  }
}
