.circle__progress__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg {
    transform: rotate(
      180deg
    ); // Поворот на -90 градусов, чтобы начать с верхней точки окружности
  }

  .circle__background {
    fill: none;
    stroke: hsla(0, 0%, 0%, 0.1); // Цвет фона круга
  }

  .circle__progress {
    fill: none;
    stroke: black; // Цвет прогресса
    transition: stroke-dashoffset 0.35s;
    transform: rotate(0.25turn);
    transform-origin: center;
  }
}
