.post_types {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;

  &__type {
    font-size: var(--column-gap-option-item-xl);
    font-weight: 500;
    cursor: pointer;
    position: relative;

    &.active__type {
      background: var(--Gradients-Gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Включаем поддержку для Firefox */
      background-clip: text;
      color: transparent;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.5px;
        background: var(--Gradients-Gradient-1);
      }
    }

    &:hover {
      background: var(--Gradients-Gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Включаем поддержку для Firefox */
      background-clip: text;
      color: transparent;
    }
  }
}
