.charper {
  ul {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--Personal-colors-black);
  }
}

.row {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  cursor: pointer;
  color: var(--Personal-colors-black);

  &:hover {
    color: #4772e6;
    border-radius: 12px;
    background: #e6e6e6;
  }
}

.row__title {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 10px;
  align-items: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.active {
  border-radius: 12px;
  background: var(
    --Gradients-Gradient-1,
    linear-gradient(45deg, #4772e6 23.91%, #8e54e9 75.06%)
  );
  color: #fff;
}
