.wrapper {
  background-color: #0074cc; /* Замените на нужный вам синий цвет */
  color: #ffffff; /* Цвет текста внутри футера */
  padding: 20px; /* Расстояние вокруг содержимого футера */
  width: 100%;
  min-height: 20vh;
  justify-content: center;
  text-align: center;
}
