.no__project {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
  margin-bottom: 170px;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 25px;

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.smile {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  text-align: center;

  div {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }

  p {
    max-width: 550px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  svg {
    width: 185px;
    height: 185px;
  }
}
