.button {
  padding: 10px;
  background: var(--Personal-colors-White);
  border: 1px solid var(--toast-error);
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  svg {
    color: var(--toast-error);
  }

  @media (max-width: 576px) {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
