.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 25px;
  align-items: center;
  text-align: center;
  grid-template: 1fr 1fr / 1fr;

  @media (max-width: 992px) {
    grid-auto-flow: column;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 15px;
  }

  @media (max-width: 576px) {
    grid-template: 1fr / 1fr max-content;
  }

  .button {
    text-transform: uppercase;
    color: var(--Personal-colors-main);
    border-radius: 12px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Personal-colors-White);
    padding: 15px 10px;
    box-shadow: 0px 0px 3px 0.5px var(--Personal-colors-main);

    @media (max-width: 576px) {
      font-weight: 500;
      font-size: 12px;
    }

    &.active {
      box-shadow: none;
      color: var(--Personal-colors-White);
      background: var(
        --Gradients-Gradient-1,
        linear-gradient(45deg, #4772e6 23.91%, #8e54e9 75.06%)
      );
    }
  }

  .input {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr max-content;

    border-radius: 12px;
    border: 1px solid var(--Inside-container);
    background: var(--Personal-colors-White);

    border-radius: 12px;
    align-items: center;
    position: relative;
    padding: 0 15px;
    height: 100%;

    input {
      color: var(--Personal-colors-black);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      // padding: 15px;

      @media (max-width: 576px) {
        font-size: 16px;
        max-width: 40vw;
      }

      &::placeholder {
        color: var(--Text-sample);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    p {
      color: var(--Personal-colors-black);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
  }
}
