.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;

  @media (max-width: 576px) {
    row-gap: 20px;
  }

  .title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: var(--font-size-subtitle-main-xl);

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 13px;
    }
  }

  .form__wrapper {
    display: grid;
    grid-auto-flow: row;
    row-gap: 40px;

    @media (max-width: 576px) {
      row-gap: 20px;
    }

    .form {
      display: grid;
      grid-auto-flow: row;
      row-gap: 20px;
      padding: 50px;
      border-radius: 40px;
      background: var(--Personal-colors-White);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);

      @media (max-width: 992px) {
        padding: 30px 40px;
        row-gap: 40px;
        border-radius: 30px;
      }

      @media (max-width: 576px) {
        padding: 20px;
        border-radius: 25px;
        row-gap: 20px;
      }

      .form__row {
        display: grid;
        grid-template: 1fr / 1fr 2fr;
        column-gap: 20px;
        padding: 15px 25px;
        border-radius: 14px;
        border: 1px solid var(--black-10);
        background: var(--Personal-colors-White);
        align-items: center;

        span {
          color: var(--choosen-text);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
          text-align: center;
        }

        a,
        p {
          color: var(--Personal-colors-black);
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
        }
        a {
          background: var(--Gradients-Gradient-1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          line-height: normal;
        }

        @media (max-width: 576px) {
          grid-template: unset;
          grid-auto-flow: row;
          row-gap: 10px;
          justify-items: center;
          padding: 15px;

          span {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }

        .price__wrapper {
          display: grid;
          grid-auto-flow: row;
          row-gap: 20px;
          width: 100%;

          .price__row {
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            column-gap: 20px;
            align-items: center;
            align-content: center;

            .format {
              text-align: start;
            }
            .price {
              text-align: end;
            }
          }
        }
      }
    }
  }
}
