.wrapper {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  padding-bottom: 80px !important;

  @media (max-width: 768px) {
    padding-bottom: 20px !important;
  }

  .nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 1fr / 1fr 1fr;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    right: 5%;

    @media (max-width: 768px) {
      display: none;
    }

    > p {
      background: var(--Gradients-Gradient-1);
      padding: 10px 11px;
      border-radius: 100%;
      cursor: pointer;

      &:hover {
        svg {
          transform: scale(1.25);
          transition: all 300ms ease;
        }
      }

      &:active {
        transform: scale(0.95);
        transition: all 300ms ease;
      }

      svg {
        stroke: #fff;
        width: 30px;
        height: 30px;
      }
    }
  }
}
