.wrapper {
  @media (max-width: 992px) {
    grid-column: span 2;
  }

  @media (max-width: 576px) {
    grid-column: span 1;
  }

  .posts {
    height: 100%;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    @media (max-width: 992px) {
      padding: 10px 20px 20px 20px;
    }

    @media (max-width: 768px) {
      padding: 10px 5px 15px 5px;
    }

    &__title {
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      font-size: var(--column-gap-option-item-xl);
      background: var(--Gradients-Gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* Включаем поддержку для Firefox */
      background-clip: text;
      color: transparent;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
      line-height: normal;

      @media (max-width: 992px) {
        font-size: var(--column-gap-option-item-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--column-gap-option-item-md);
        margin-bottom: 15px;
      }

      @media (max-width: 576px) {
        font-size: var(--column-gap-option-item-sm);
        margin-bottom: 10px;
        gap: 5px;
      }

      .icon {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        > svg {
          width: 22px;
          height: 22px;

          @media (max-width: 768px) {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    &__list {
      display: grid;
      gap: 15px;
      grid-auto-flow: row;

      @media (max-width: 768px) {
        gap: 10px;
        max-height: 30vw;
        overflow: auto;
        padding: 5px;
      }

      .post {
        color: var(--secondary-text);
        font-size: var(--font-size-option-item-xl);
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 14px;
        box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
          box-shadow: 0px 1px 5px 2px rgba(71, 114, 230, 0.3);
          transition: all 500ms ease;
        }

        &.active {
          background: var(--Gradients-Gradient-1);
          color: #fff;
          box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
        }

        @media (max-width: 992px) {
          font-size: var(--font-size-option-item-lg);
        }

        @media (max-width: 768px) {
          font-size: var(--font-size-option-item-md);
        }

        @media (max-width: 576px) {
          font-size: var(--font-size-option-item-sm);
        }
      }
    }
  }
}
