.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  list-style: none;
  margin: 0;
  text-align: center;
  font-weight: 500;

  color: var(--Personal-colors-black);
  font-size: 16px;
  white-space: nowrap;

  @media (max-width: 1400px) {
    display: none;
  }

  li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 5px;

    cursor: pointer;
    padding: 5px 10px;
    color: var(--Personal-colors-black);

    &.active {
      color: var(--Personal-colors-main); /* Цвет текста на текущей странице */
    }
  }
}
