.info {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  align-content: start;
  text-align: center;
  gap: 15px;
  padding: 40px;
  align-items: center;

  @media (max-width: 992px) {
    padding: 25px;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  .count {
    color: var(--Personal-colors-black);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 992px) {
      font-size: 24px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &.telegram {
    border-radius: 24px;
    border: 2px solid #ade4ff;
    background: rgba(255, 255, 255, 0.25);
    box-shadow:
      0 0 8px 0 rgba(42, 171, 238, 0.25) inset,
      0 10px 32px 0 rgba(42, 171, 238, 0.12);
    backdrop-filter: blur(10px);
  }

  &.instagram {
    border-radius: 24px;
    border: 2px solid #f7bb8acc;
    background: rgba(255, 255, 255, 0.25);
    box-shadow:
      0 4px 4px 0 rgba(133, 45, 238, 0.12) inset,
      0 10px 32px 0 rgba(133, 45, 238, 0.12);
    backdrop-filter: blur(6px);
  }

  &.youtube {
    border-radius: 24px;
    border: 2px solid #ffa9c0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow:
      0 0 8px 0 rgba(252, 13, 27, 0.12) inset,
      0 10px 32px 0 rgba(255, 61, 61, 0.12);
    backdrop-filter: blur(6px);
  }
}
