.customer {
  display: grid;
  grid-template: 0.3fr 1fr / 1fr;
  row-gap: 10px;
  align-content: space-between;
  align-items: start;
  padding: 20px;

  border-radius: 20px;
  background: var(--Personal-colors-White, #fff);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.19);
  cursor: pointer;

  .customer__row {
    display: grid;
    grid-template: 1fr / 35px 1fr;
    column-gap: 10px;
    align-items: center;

    .logo {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .customer__column {
      .title {
        color: var(--Personal-colors-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .workplace {
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 5px;
      }

      .rating {
        width: 98.75px;
        height: 15px;
      }
    }
  }

  .text__wrapper {
    height: 200px;

    .text {
      color: var(--secondary-text);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-right: 10px;

      @media (max-width: 992) {
        height: 270px;
      }

      @media (max-width: 772) {
        height: 415px;
      }
    }
  }
}
