.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;

  .parameters__row {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    column-gap: 10px;
    justify-items: start;
    padding: 20px;
    border-radius: 12px;
    background: var(--Personal-colors-White);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);

    p {
      color: var(--Containers);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
    }

    span {
      color: var(--Personal-colors-black);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
    }

    .parameter__sex {
      display: grid;
      grid-auto-flow: column;
      column-gap: 5px;
      align-items: center;
      justify-content: start;
    }

    @media (max-width: 576px) {
      padding: 15px;
      grid-template: unset;
      grid-auto-flow: row;
      row-gap: 10px;
      p,
      span {
        font-size: 12px;
      }
    }
  }
}
