.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
}

.cards {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.top {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  p {
    color: var(--Personal-colors-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  button {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
