.button{
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    
    padding: 15px;
    border-radius: 8px;

    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    svg{
        width: 20px;
        height: 20px;
    }
}