.customer {
  display: grid;
  grid-template: 0.3fr 1fr / 1fr;
  align-content: space-between;
  align-items: start;
  // border-radius: 12px 12px 0px 12px;
  // background: linear-gradient(
  //   90deg,
  //   rgba(71, 113, 230, 0.1) 0.03%,
  //   rgba(142, 84, 233, 0.1) 100.36%
  // );
  padding: 20px;

  border-radius: 12px;
  border: 1px solid var(--black-10, #e5e5e5);
  background: var(--Personal-colors-White, #fff);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.19);

  .customer__row {
    display: grid;
    grid-template: 1fr / 35px 1fr;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    .logo {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .customer__column {
      // white-space: nowrap;
      // overflow: hidden;

      .title {
        color: var(--Personal-colors-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }

      .workplace {
        font-size: 12px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 5px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }

      .rating {
        width: 98.75px;
        height: 15px;
      }
    }
  }

  .text {
    color: var(--secondary-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 150px;
    // overflow: auto;
  }
}
