.wrapper {
  grid-area: item1;
  background: #e7ebfc;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.21);
  border-radius: 40px 40px 0px 40px;
  padding: 30px 40px 30px 30px;
  width: 100%;
  height: 100%;

  &.vencom {
    color: var(--Personal-colors-White);
    background: var(--Gradients-Gradient-1);
    box-shadow: 0px 4px 21px 0px rgba(144, 71, 237, 0.45);
    grid-area: item2;
  }
}

.accomms {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;

  ul {
    display: grid;
    grid-auto-flow: row;
    row-gap: 30px;
    text-align: left;
    padding-left: 20px;

    li {
      // margin-bottom: 30px;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      list-style: disc;
    }
  }

  &__row {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    // margin-bottom: 30px;

    .title {
      text-align: center;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      font-size: var(--font-size-subtitle-secondary-xl);

      @media (max-width: 992px) {
        font-size: var(--font-size-subtitle-secondary-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-subtitle-secondary-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-subtitle-secondary-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-subtitle-secondary-xs);
      }
    }
  }

  .bottom__row {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 30px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 30px;
    }

    .save__row {
      display: grid;
      grid-auto-flow: column;
      column-gap: 15px;
      align-items: center;
      text-align: left;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      // max-width: 180px;

      @media (max-width: 768px) {
        justify-content: center;
      }
    }
  }
}
