.wrapper {
  padding: 15px 25px;
  height: 225px;
  background: var(--Personal-colors-White);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  .review {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;

    .top {
      display: grid;
      grid-auto-flow: column;
      column-gap: 20px;
      justify-content: space-between;
      align-items: center;

      .left {
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        justify-content: start;
        align-items: center;

        .logo {
          border-radius: 50%;
          border: 2px solid var(--black-20);

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        p {
          color: var(--Personal-colors-black);
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;
        }
      }
      span {
        color: #adadad;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
      }
    }

    .description {
      color: var(--Personal-colors-black);
      text-align: left;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
  }
}
