.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 30px;

  .registrationBtn {
    @media (max-width: 992px) {
      display: none;
    }
  }

  .loginBtn {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
  }
}
