.button {
  padding: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Personal-colors-main);
  background: var(--Personal-colors-White);
  border-radius: 10px;
  border: 1px solid var(--Personal-colors-main);
}
