.accordion {
  background: var(--Personal-colors-White);
  box-shadow: 0px 1px 4px 1px var(--Personal-colors-main);
  border-radius: 20px;
}

.arrow {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--Personal-colors-White, #fff);
  box-shadow:
    0px -2px 16px 0px rgba(0, 0, 0, 0.08),
    0px 6px 14px 0px rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
}

.active {
  .arrow {
    background: var(--primary-gradient) !important;
  }
}
