.wrapper {
  background: var(--Gradients-Gradient-1);
  color: var(--Personal-colors-White) fff;
  padding: 20px;
  width: 100%;
  min-height: 20vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
