.wrapper {
  display: grid;
  grid-template: 1fr / 3.6fr 2fr;
  column-gap: 40px;
  padding: 20px 15px;
  background: var(--Gradients-Gradient-1);
  // opacity: 0.95;
  border-radius: 15px;

  @media (max-width: 992px) {
    padding: 12px 15px;
    column-gap: 30px;

    // fixed
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 0px;
  }

  @media (max-width: 576px) {
    grid-template: none;
    grid-auto-flow: row;
    row-gap: 10px;
    padding: 15px 20px;
  }

  .text {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;

    @media (max-width: 768px) {
      grid-template: 1fr / 1fr 1fr;
      gap: 10px;
    }

    @media (max-width: 576px) {
      justify-content: space-between;
    }

    .info {
      display: grid;
      grid-auto-flow: row;
      row-gap: 20px;
      text-align: center;
      border-right: 0.5px solid var(--Personal-colors-White);

      @media (max-width: 992px) {
        row-gap: 12px;
      }

      @media (max-width: 576px) {
        grid-auto-flow: column;
        gap: 10px;
        border: none;
        justify-content: start;
        align-items: center;
      }

      &.views {
        @media (max-width: 768px) {
          display: none;
        }
      }

      &.coast {
        @media (max-width: 576px) {
          justify-self: end;
        }
      }

      p {
        color: var(--Personal-colors-White);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        @media (max-width: 576px) {
          font-weight: 500;
        }
      }

      span {
        color: var(--Personal-colors-White);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .cart {
    display: grid;
    align-items: center;
    margin: 0 15px;

    @media (max-width: 576px) {
      margin: 0px;
    }

    .button {
      white-space: nowrap;
      padding: 15px;
      opacity: 1;
    }
  }
}
