.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 16px;
  padding: 12px 15px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px var(--Personal-colors-main);

  @media (min-width: 577px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    align-items: center;

    @media (min-width: 577px) {
      gap: 12px 20px;
    }

    .info {
      display: flex;
      align-items: center;
      gap: 4px;

      p {
        color: var(--black-70, #4d4d4d);
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        margin: 0;
      }

      span {
        color: var(--Personal-colors-black);
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
      }
    }
  }

  .link {
    flex-shrink: 0;

    @media (max-width: 576px) {
      width: 100%;

      .button {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .button {
    white-space: nowrap;
    padding: 10px 16px;
  }
}
