.option {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: var(--font-size-option-item-xl);
  column-gap: var(--column-gap-option-item-xl);

  img {
    width: 25px;
    height: auto;
  }

  @media (max-width: 992px) {
    font-size: var(--font-size-option-item-lg);
    column-gap: var(--column-gap-option-item-lg);
  }

  @media (max-width: 768px) {
    font-size: var(--font-size-option-item-md);
    column-gap: var(--column-gap-option-item-md);
    img {
      width: 20px;
    }
  }

  @media (max-width: 576px) {
    font-size: var(--font-size-option-item-sm);
    column-gap: var(--column-gap-option-item-sm);
  }

  @media (max-width: 375px) {
    font-size: var(--font-size-option-item-xs);
    column-gap: var(--column-gap-option-item-xs);
    img {
      width: 18px;
    }
  }
}
