.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  grid-area: item1;

  p {
    // font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: rgba(254, 110, 48, 0.99);

    font-size: var(--font-size-text-accent-xl);

    @media (max-width: 992px) {
      font-size: var(--font-size-text-accent-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-text-accent-md);
    }

    @media (max-width: 576px) {
      font-size: var(--font-size-text-accent-sm);
    }

    @media (max-width: 375px) {
      font-size: var(--font-size-text-accent-xs);
    }
  }

  .menu {
    width: 100%;
    position: relative;
    white-space: nowrap;

    span {
      font-size: var(--font-size-text-accent-xl);

      @media (max-width: 992px) {
        font-size: var(--font-size-text-accent-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-text-accent-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-text-accent-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-text-accent-xs);
      }
    }

    button {
      display: grid;
      align-content: center;
      padding: 18px 20px;
      border-radius: 12px;
      width: 100%;
      border: 1px solid var(--Inside-container);
      background: var(--Personal-colors-White);
      color: #a3a0a0;

      @media (max-width: 576px) {
        padding: 12px 15px;
      }

      div {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
      }

      &:hover {
        border: 1px solid var(--Inside-container);
        background: rgba(189, 189, 189, 0.25);
      }

      &.active {
        span {
          background: var(--Gradients-Gradient-1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        border: 1px solid var(--Personal-colors-main);
        background: var(--Personal-colors-White);
      }
    }

    .scroll {
      overflow-y: scroll;
      max-height: 150px;

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #ccc;
        border-radius: 5px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #999;
        border-radius: 5px;
      }

      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .options {
      margin-top: 5px;
      position: absolute;
      background-color: var(--Personal-colors-White);
      // border: 1px solid #ccc;
      box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      padding: 5px;
      overflow: hidden;
      z-index: 1;
      width: 100%;

      ul {
        display: grid;
        grid-auto-flow: row;
        row-gap: 2px;
      }

      li {
        color: var(--Personal-colors-black);
        display: grid;
        grid-auto-flow: column;
        column-gap: 5px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          background: var(--Gradients-Gradient-1);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          background: rgba(189, 189, 189, 0.25);
          border-radius: 8px;
        }

        &.active {
          color: var(--Personal-colors-black);
          background: linear-gradient(
            45deg,
            rgba(71, 114, 230, 0.25) 23.91%,
            rgba(142, 84, 233, 0.25) 75.06%
          );
          border-radius: 8px;
        }
      }
    }
  }
}
