.open {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;

  @media (max-width: 576px) {
  }

  .icon {
    width: 24px;

    @media (max-width: 768px) {
      width: 20px;
    }

    @media (max-width: 576px) {
      width: 24px;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: normal;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  .range {
    font-size: 12px;

    span {
      display: none;

      @media (max-width: 576px) {
        display: block;
      }
    }

    @media (max-width: 768px) {
      font-size: 10px;
    }

    @media (max-width: 576px) {
      font-size: 14px;
      display: grid;
      grid-auto-flow: column;
      gap: 10px;
    }
  }
}

.calendar {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 25px;
  background: var(--Personal-colors-White);

  @media (max-width: 576px) {
    padding: 15px;
  }

  .top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @media (max-width: 576px) {
      margin-bottom: 10px;
    }

    p {
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      background: var(--primary-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      line-height: normal;

      @media (max-width: 992px) {
        font-size: 20px;
      }

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    svg {
      width: 30px;
      height: 30px;

      @media (max-width: 576px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  .bottom {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    align-items: center;
    justify-content: stretch;

    .confirm {
      padding: 10px;
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.advDate {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: orange;
    border-radius: 50%;
  }
}

.disabledDate {
  cursor: none;
  pointer-events: none;
  color: var(--Text-sample) !important;
}
