.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.flag {
  position: relative;
  background-color: rgb(0, 23, 201);
  padding: 20px;
  clip-path: polygon(10% 0%, 100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden; /* Чтобы не выходили псевдоэлементы */
}
