.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
  max-width: var(--container-width);

  @media (max-width: 576px) {
    padding-bottom: 50px;
  }

  .top {
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
      column-gap: 15px;
    }

    .icon {
      width: 40px;

      @media (max-width: 576px) {
        width: 30px;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }

    p {
      color: var(--Personal-colors-White);
      font-size: var(--font-size-title-main-xl);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 992px) {
        font-size: var(--font-size-title-main-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-title-main-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-title-main-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-title-main-xs);
      }
    }
  }

  .content {
    display: grid;
    grid-auto-flow: row;
    align-items: center;

    @media (max-width: 768px) {
      gap: 10px;
    }

    @media (max-width: 576px) {
      gap: 30px;
    }

    .title {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: start;
      column-gap: 30px;

      @media (max-width: 768px) {
        column-gap: 25px;
      }

      @media (max-width: 576px) {
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        row-gap: 30px;
      }

      span {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border: 4px dashed #fff;
        border-radius: 50%;
        font-size: 44px;
        font-weight: bold;
        line-height: 1;
        color: var(--Personal-colors-White);

        @media (max-width: 768px) {
          width: 70px;
          height: 70px;
          border: 3px dashed #fff;
          font-size: 38px;
        }

        @media (max-width: 576px) {
          width: 80px;
          height: 80px;
          border: 4px dashed #fff;
          font-size: 44px;
        }
      }

      p {
        color: var(--Personal-colors-White);
        font-size: var(--font-size-title-secondary-xl);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media (max-width: 992px) {
          font-size: var(--font-size-title-secondary-lg);
        }

        @media (max-width: 768px) {
          font-size: var(--font-size-title-secondary-md);
        }

        @media (max-width: 576px) {
          font-size: var(--font-size-title-secondary-sm);
          text-align: center;
          white-space: wrap;
        }

        @media (max-width: 375px) {
          font-size: var(--font-size-title-secondary-xs);
        }
      }
    }

    .wrapper__input {
      margin-left: 120px;
      padding-left: 20px;
      display: grid;
      grid-template: 1fr / 1fr 60px;
      gap: 10px;
      align-items: center;
      max-width: 40%;
      justify-content: space-between;
      border-radius: 30px;
      box-shadow: inset 0px 0px 0px 1px #fff;
      background: rgba(255, 255, 255, 0);

      @media (max-width: 768px) {
        margin-left: 95px;
        max-width: 60%;
        grid-template: 1fr / 1fr 50px;
      }

      @media (max-width: 576px) {
        margin-left: 0;
        max-width: 100%;
      }

      button {
        border-radius: 50%;
        background: var(--Personal-colors-White);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;

        @media (max-width: 768px) {
          width: 50px;
          height: 50px;
        }
      }

      .input {
        display: grid;
        grid-template: 1fr / 20px 1fr;
        align-items: center;
        justify-content: start;
        column-gap: 10px;

        input {
          color: var(--Personal-colors-White);
          align-items: center;

          &::placeholder {
            color: var(--Personal-colors-White);
          }
        }
      }
    }
  }
}
