.types {
  overflow: hidden;

  ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
  }
  li {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;

    p {
      color: var(--Personal-colors-black);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      white-space: nowrap;
    }

    .active__type {
      color: var(--Personal-colors-main);
    }
  }
}

.circle_wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2px #000;
  }

  .outer {
    padding: 3px;

    .inner {
      width: 16px;
      height: 16px;
    }
  }
  &.active {
    .outer {
      box-shadow: 0 0 0 0.2px var(--Personal-colors-main);
    }
    .inner {
      box-shadow: none;
      background: var(--Gradients-Gradient-1);
    }
  }
}
