.loading {
  position: fixed;
  width: 100vw;
  height: 96dvh;
  z-index: 50;
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  &__icon {
    width: 100px;

    @media (max-width: 576px) {
      width: 60px;
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}
