.loading {
  margin-top: calc(0px - var(--header-height-xl));
  position: fixed;
  width: 100vw;
  height: 100dvh;
  z-index: 50;
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.5);

  @media (max-width: 992px) {
    margin-top: calc(0px - var(--header-height-lg));
  }

  @media (max-width: 768px) {
    margin-top: calc(-16px - var(--header-height-md));
  }

  @media (max-width: 576px) {
    margin-top: calc(0px - var(--header-height-sm));
  }

  @media (max-width: 375px) {
    margin-top: calc(0px - var(--header-height-xs));
  }

  &__icon {
    width: 100px;

    @media (max-width: 576px) {
      width: 60px;
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;

    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}
