.subtypes {
  ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
    align-items: center;
    justify-content: start;
  }

  li {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    color: var(--Personal-colors-black);
    text-align: center;
    padding: 10px;
    min-width: 100px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

    &.active {
      border-radius: 12px;
      background: var(--primary-gradient);
      color: var(--Personal-colors-White);
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }

    .badge {
      position: absolute;
      display: grid;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background: red;
      min-width: 20px;
      min-height: 20px;
      border-radius: 10px;
      top: -5px;
      right: -5px;
      z-index: 2;

      span {
        color: var(--Personal-colors-White);
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: 0.75;
      }
    }
  }
}
