.payment__data {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  border-radius: 40px;
  border: 1px solid var(--Inside-container, #bdbdbd);
  background: var(--Personal-colors-White, #fff);
  padding: 50px;
  // width: 100%;
}

.block {
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;
}

.ammount {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;

  .error {
    &::placeholder {
      color: red;
    }
  }

  .card_name {
    color: var(--Personal-colors-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.75;
    margin-bottom: 10px;
  }
  span {
    color: var(--choosen-text, #808080);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75;
  }

  div {
    display: grid;
    grid-template: 1fr / 1fr minmax(20px, 30px);
    gap: 10px;
    padding: 15px 30px;
    border-radius: 12px;
    border: 1px solid var(--Inside-container, #bdbdbd);
    background: var(--Personal-colors-White, #fff);

    small {
      color: var(--Text-sample, #a3a0a0);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.payment {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;

  div {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    p {
      color: var(--Sub-text, #4d4d4d);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 0.75;
      white-space: nowrap;
      text-align: end;
    }

    span {
      color: var(--Sub-text, #4d4d4d);
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 0.75;
      white-space: nowrap;
    }
  }
}

.accept {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  input {
    cursor: pointer;
  }

  p {
    color: var(--Personal-colors-black);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    span {
      color: #44c4ff;
    }
  }
}

.button {
  display: grid;
  justify-content: center;
}
