.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--Containers);
  width: 20px;
  height: 20px;

  &.selected {
    background: var(--Gradients-Gradient-1);
    border: none !important;
    color: white;

    svg {
      visibility: visible;
    }
  }

  &:not(.selected) {
    opacity: 0.5;

    svg {
      visibility: hidden;
    }
  }

  svg {
    width: 10px;
    height: auto;
  }
}
