.wrapper {
  display: grid;
  grid-auto-flow: row;

  row-gap: var(--row-gap-content-xl);
  margin-top: calc(var(--margin-section-xl) / 2);
  margin-bottom: var(--margin-section-xl);

  @media (max-width: 992px) {
    row-gap: var(--row-gap-content-lg);
    margin-top: calc(var(--margin-section-lg) / 2);
    margin-bottom: var(--margin-section-lg);
  }

  @media (max-width: 768px) {
    row-gap: var(--row-gap-content-md);
    margin-top: calc(var(--margin-section-md) / 2);
    margin-bottom: var(--margin-section-md);
  }

  @media (max-width: 576px) {
    row-gap: var(--row-gap-content-sm);
    margin-top: calc(var(--margin-section-sm) / 2);
    margin-bottom: var(--margin-section-sm);
  }

  @media (max-width: 375px) {
    row-gap: var(--row-gap-content-xs);
    margin-top: calc(var(--margin-section-xs) / 2);
    margin-bottom: var(--margin-section-xs);
  }

  .title {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(
      --Gradients-Gradient-1,
      linear-gradient(45deg, #4772e6 23.91%, #8e54e9 75.06%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--Personal-colors-main);
    line-height: normal;

    font-size: var(--font-size-title-main-xl);

    @media (max-width: 992px) {
      font-size: var(--font-size-title-main-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-title-main-md);
    }

    @media (max-width: 576px) {
      font-size: var(--font-size-title-main-sm);
    }

    @media (max-width: 375px) {
      font-size: var(--font-size-title-main-xs);
    }
  }

  .form__wrapper {
    display: grid;
    grid-auto-flow: row;
    row-gap: 40px;
    padding: 50px;
    border-radius: 30px;
    border: 1px solid var(--Inside-container, #bdbdbd);
    background: var(--Personal-colors-White, #fff);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.19);

    @media (max-width: 992px) {
      padding: 25px;
    }

    @media (max-width: 576px) {
      padding: 25px 10px;
    }

    .block {
      display: grid;
      grid-auto-flow: row;
      row-gap: 30px;

      .button__wrapper {
        display: grid;
        justify-content: end;

        @media (max-width: 768px) {
          justify-content: unset;
        }
      }

      .title__wrapper {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        column-gap: 10px;
        align-content: center;
        align-items: center;
        span {
          color: var(--Containers, #8c8c8c);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @media (max-width: 576px) {
            font-size: 12px;
          }
        }
      }

      &__title {
        color: var(--Personal-colors-black);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;

        @media (max-width: 992px) {
          font-size: 20px;
        }

        @media (max-width: 576px) {
          font-size: 18px;
        }
      }

      .parameters_wrapper {
        display: grid;
        grid-auto-flow: row;
        row-gap: 20px;

        .name {
          display: grid;
          grid-template: 1fr / repeat(2, 1fr);
          column-gap: 15px;

          @media (max-width: 768px) {
            grid-template: unset;
            grid-auto-flow: row;
            row-gap: 20px;
          }
        }

        .parameters_row {
          display: grid;
          grid-auto-flow: row;
          row-gap: 10px;

          span {
            padding-left: 10px;
            color: #0d0c22;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 1;

            @media (max-width: 768px) {
              font-size: 14px;
            }
          }

          input {
            padding: 15px 20px;
            border-radius: 10px;
            border: 1px solid var(--black-20, #ccc);
            background: var(--Personal-colors-White);
            color: var(--Personal-colors-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;

            &::placeholder {
              color: #a3a0a0;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 1;
            }
          }
        }
      }

      .notification__wrapper {
        display: grid;
        grid-auto-flow: row;
        row-gap: 25px;

        .miniblock {
          display: grid;
          grid-auto-flow: row;
          row-gap: 25px;

          .instruction {
            color: var(--URL, #4d94ff);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1;

            @media (max-width: 576px) {
              font-size: 14px;
              text-align: center;
            }
          }

          &__wrapper {
            display: grid;
            grid-auto-flow: column;
            column-gap: 15px;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
          }

          &__title {
            color: var(--Personal-colors-black);
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 1;

            @media (max-width: 576px) {
              font-size: 16px;
            }
          }

          .info_block {
            display: grid;
            grid-auto-flow: row;

            .edit {
              display: grid;
              grid-auto-flow: row;
              row-gap: 10px;
              padding-top: 25px;
              padding-bottom: 10px;

              span {
                padding-left: 10px;
                color: #0d0c22;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 1;
              }

              .row {
                display: grid;
                grid-template: 1fr / 1fr min-content min-content;
                column-gap: 10px;

                @media (max-width: 768px) {
                  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
                  row-gap: 10px;
                  & > input:nth-child(1) {
                    grid-column: 1 / -1; // Занимает обе колонки
                  }
                  button {
                    padding: 10px;
                  }
                }

                input {
                  padding: 15px 20px;
                  border-radius: 10px;
                  border: 1px solid var(--black-20, #ccc);
                  background: var(--Personal-colors-White);
                  color: var(--Personal-colors-black);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 1;

                  &::placeholder {
                    color: #a3a0a0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                  }
                }
              }
            }

            .bot {
              display: grid;
              grid-auto-flow: column;
              column-gap: 15px;
              justify-content: flex-start;
              align-items: center;
              align-content: center;
            }

            .checkbox__wrapper {
              display: grid;
              grid-auto-flow: column;
              column-gap: 10px;
              justify-content: space-between;
              align-items: center;
              align-content: center;
              padding: 10px 10px 10px 0;

              span {
                color: var(--Personal-colors-black);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 1;

                @media (max-width: 576px) {
                  font-size: 14px;
                }
              }

              input {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    //   display: grid;
    //   grid-auto-flow: row;
    //   row-gap: var(--row-gap-content-xl);

    //   @media (max-width: 992px) {
    //     row-gap: var(--row-gap-content-lg);
    //   }

    //   @media (max-width: 768px) {
    //     row-gap: var(--row-gap-content-md);
    //   }

    //   @media (max-width: 576px) {
    //     row-gap: var(--row-gap-content-sm);
    //   }
    //   @media (max-width: 375px) {
    //     row-gap: var(--row-gap-content-xs);
    //   }
  }
}
