.column__cross {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-content: center;
  justify-items: center;
  text-align: center;
  position: relative;

  @media (max-width: 576px) {
    row-gap: 5px;
  }

  p {
    color: #000;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 0.75;

    @media (max-width: 768px) {
      font-size: 8px;
    }
  }

  .match {
    font-weight: 500;
    font-size: 14px;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  .circle {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #ddd;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: 576px) {
      width: 56px;
      height: 56px;
    }

    &::before {
      content: "";
      position: absolute;
      height: calc(100% + 6px);
      width: calc(100% + 6px);
      left: -3px;
      transform: rotate(-45deg);
      border-radius: 50%;
      border: 3px solid #ddd;
    }

    &.low::before {
      border-top: 3px solid transparent;
      border-right: 3px solid #fe3430fc;
      border-bottom: 3px solid transparent;
      border-left: 3px solid transparent;
      // border-top: 3px solid transparent;
      // border-right: 3px solid rgba(125, 53, 240, 0.3);
      // border-bottom: 3px solid transparent;
      // border-left: 3px solid transparent;
    }

    &.medium::before {
      border-top: 3px solid transparent;
      border-right: 3px solid #fe9730fc;
      border-bottom: 3px solid #fe9730fc;
      border-left: 3px solid transparent;
      // border-top: 3px solid transparent;
      // border-right: 3px solid rgba(125, 53, 240, 0.5);
      // border-bottom: 3px solid rgba(125, 53, 240, 0.5);
      // border-left: 3px solid transparent;
    }

    &.high::before {
      border-top: 3px solid transparent;
      border-right: 3px solid #ffca28;
      border-bottom: 3px solid #ffca28;
      border-left: 3px solid #ffca28;
      // border-top: 3px solid transparent;
      // border-right: 3px solid rgba(125, 53, 240, 0.7);
      // border-bottom: 3px solid rgba(125, 53, 240, 0.7);
      // border-left: 3px solid rgba(125, 53, 240, 0.7);
    }

    &.full::before {
      border-top: 3px solid #4772e6;
      border-right: 3px solid #4772e6;
      border-bottom: 3px solid #4772e6;
      border-left: 3px solid #4772e6;
      // border-top: 3px solid rgba(125, 53, 240, 1);
      // border-right: 3px solid rgba(125, 53, 240, 1);
      // border-bottom: 3px solid rgba(125, 53, 240, 1);
      // border-left: 3px solid rgba(125, 53, 240, 1);
    }
  }

  .match_description {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 10px;
    position: absolute;
    top: -1vw;
    right: 0;
    padding: 10px;
    box-shadow: 1px 3px 12px 1px rgba(0, 0, 0, 0.3);
    width: 30vw;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    @media (max-width: 992px) {
      width: 50vw;
    }

    @media (max-width: 576px) {
      bottom: 0;
      width: 70vw;

      img {
        width: 24px;
        height: 24px;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }

    p {
      line-height: 1.7;
      color: #8e54e9;
    }
  }

  .circle:hover + .match_description {
    opacity: 1;
    visibility: visible;
  }
}
