.column__cross {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-content: center;
  justify-items: center;
  text-align: center;
  position: relative;

  @media (max-width: 576px) {
    row-gap: 5px;
  }

  &.compact {
    row-gap: 5px;

    p {
      font-size: 8px;
    }
  }

  p {
    color: #000;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;

    @media (max-width: 768px) {
      font-size: 8px;
      font-weight: 500;
    }
  }

  .match {
    font-weight: 500;
    font-size: 14px;

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  .circle {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;

    &.compact {
      width: 48px;
      height: 48px;

      canvas {
        width: 48px;
        height: 48px;
      }

      @media (max-width: 576px) {
        width: 44px;
        height: 44px;

        canvas {
          width: 44px;
          height: 44px;
        }
      }

      @media (max-width: 450px) {
        width: 38px;
        height: 38px;

        canvas {
          width: 38px;
          height: 38px;
        }
      }

      @media (max-width: 375px) {
        width: 34px;
        height: 34px;

        canvas {
          width: 34px;
          height: 34px;
        }
      }
    }

    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
    }

    @media (max-width: 576px) {
      width: 48px;
      height: 48px;
    }

    canvas {
      width: 64px;
      height: 64px;

      @media (max-width: 768px) {
        width: 60px;
        height: 60px;
      }

      @media (max-width: 576px) {
        width: 48px;
        height: 48px;
      }
    }

    &.no_match {
      border: 3px solid #ddd;

      &.compact {
        border-width: 2px;
      }
    }
  }

  .match_description {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    gap: 10px;
    padding: 10px;
    width: 30vw;
    background: rgba(255, 255, 255, 1);
    border-radius: 7px;

    @media (max-width: 992px) {
      width: 50vw;
    }

    @media (max-width: 768px) {
      transform: translate(-50px, 50px);
    }

    @media (max-width: 576px) {
      width: 70vw;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
