.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 25px;
  align-items: center;
  text-align: center;

  .button {
    border-radius: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #4772e6;
    border: 1px solid #4772e6;
    background: var(--Personal-colors-White);
    padding: 20px 0;

    &.active {
      border: none;
      color: var(--Personal-colors-White);
      background: var(
        --Gradients-Gradient-1,
        linear-gradient(45deg, #4772e6 23.91%, #8e54e9 75.06%)
      );
    }
  }

  .input {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 12px;
    border: 1px solid var(--Inside-container);
    background: var(--Personal-colors-White);

    border-radius: 12px;
    align-items: center;
    position: relative;
    padding-right: 20px;

    input {
      color: var(--Personal-colors-black);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 20px 15px;

      &::placeholder {
        color: var(--Text-sample);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    p {
      color: var(--Personal-colors-black);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
