.button {
  padding: 15px;
  border-radius: 8px;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 20px;

  svg {
    width: 20px;
    height: 20px;
  }
}
