.slider__wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  grid-area: item3;

  .slider__row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 10px;

    .value {
      color: var(--Personal-colors-black);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: var(--font-size-text-accent-xl);

      @media (max-width: 992px) {
        font-size: var(--font-size-text-accent-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-text-accent-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-text-accent-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-text-accent-xs);
      }
    }

    .title {
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--Orange);
      font-size: var(--font-size-text-accent-xl);

      @media (max-width: 992px) {
        font-size: var(--font-size-text-accent-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--font-size-text-accent-md);
      }

      @media (max-width: 576px) {
        font-size: var(--font-size-text-accent-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--font-size-text-accent-xs);
      }
    }
  }
}
