.slider__wrapper {
  display: grid;
  grid-auto-flow: row;
}

.slider__row {
  display: grid;
  grid-auto-flow: column;
}

.value {
  color: var(--Personal-colors-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
}

.title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--Gradients-Gradient-2);
}
