.wrapper{

    max-width: 1133px;
    border-radius: 40px;
    border: 1px solid var(--Personal-colors-grey, #BDBDBD);
    background: var(--Personal-colors-White, #FFF);
}

.top{
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    align-items: center;

    padding: 50px 40px;
    border-radius: 40px 40px 0px 40px;
    background: var(--Gradient-1, linear-gradient(45deg, #4772E6 23.91%, #8E54E9 75.06%));

    justify-content: start;
    color: #FFF;
    p{
        font-size: 34px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    span {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border: 4px dashed #FFF;
        border-radius: 50%;
        font-size: 44px;
        font-weight: bold;
        line-height: 1;
      }
}

.blur{
    border-radius: 40px;
    color: var(--Gradient-1, linear-gradient(45deg, #4772E6 23.91%, #8E54E9 75.06%));
    border: 1px solid var(--Personal-colors-grey, #BDBDBD);
    background: var(--Personal-colors-White, #FFF);

    span {
        border: 4px dashed var(--Gradient-1, #4772E6);
    }

    p, span{

        filter: blur(7.5px);
    }
}

.form{
    display: grid;
    grid-auto-flow: row;
    padding:  50px  50px  50px 90px;
    row-gap: 30px;
    align-items: center; 

    div{
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;


        div{
            display: grid;
            grid-auto-flow: column;
            column-gap: 20px;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.platform__btn{
    border-radius: 12px;
    border: 1px solid var(--Gradient-1, #4772E6);
    background: var(--Personal-colors-White, #FFF);
    color: var(--Gradient-1, linear-gradient(45deg, #4772E6 23.91%, #8E54E9 75.06%));
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;


    &.check{
        color: var(--Personal-colors-White, #FFF);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: var(--Personal-colors-grey, #BDBDBD);
        border: none;
    }

    &:hover{
        background: rgba(189, 189, 189, 0.15);
    }
}

.platform__input{
    border-radius: 12px;
    padding: 20px;
    border: 1px solid var(--Personal-colors-grey, #BDBDBD);
    background: rgba(189, 189, 189, 0.25);
    color: var(--Grey-text, #A3A0A0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.complite{
    border-radius: 40px;
    color: var(--Gradient-1, linear-gradient(45deg, #4772E6 23.91%, #8E54E9 75.06%));
    border: 1px solid var(--Gradient-1, #4772E6);
    background: var(--Personal-colors-White, #FFF);

    span {
        border: 4px solid var(--Gradient-1, #4772E6);
    }
}