.partners {
  padding: 20px;
  overflow: hidden;
  filter: grayscale(100%);
  opacity: 0.65;

  img {
    align-items: center;
  }

  &.isLeft {
    margin-left: -250px;
  }

  &.isRight {
    margin-right: -250px;
  }
}

// .isLeft {
//   margin-left: -250px;
// }
