.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  p {
    color: var(--Sub-text, #4d4d4d);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  button {
    display: grid;
    align-content: center;
    //   justify-content: center;
    padding: 10px;
    min-width: 150px;

    border-radius: 10px;
    border: 0.5px solid var(--Containers, #8c8c8c);

    background: var(--Personal-colors-White);
    color: var(--Gradients-Gradient-1);

    cursor: pointer;
    position: relative;
  }
}

.filter {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  div {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    column-gap: 5px;
  }
}

.menu {
  margin-top: 5px;
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 5px;
  overflow: hidden;
  z-index: 1;
  min-width: 150px;

  li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 5px;
    justify-content: start;
    cursor: pointer;
    padding: 10px;

    &:hover {
      background: rgba(189, 189, 189, 0.25);
      border-radius: 8px;
    }
  }
}
