.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;

  .data {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
  }

  .button__wrapper {
    display: grid;
    justify-content: end;

    @media (max-width: 768px) {
      justify-content: unset;
    }
  }
}
