.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: start;
  align-content: start;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: var(--sidebar-admin-xl);
  background: var(
    --Gradients-Gradient-5,
    linear-gradient(90deg, #314479 0%, #51377a 100%)
  );

  .logo {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
  }

  ul {
    display: grid;
    grid-auto-flow: row;

    li {
      display: grid;
      align-items: center;
      align-content: center;
      justify-content: center;
      padding: 15px;

      &:hover,
      &.active {
        background: var(--color-whites-w-20, rgba(255, 255, 255, 0.2));
      }
    }
  }
}
