.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
}

.cards {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.top {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  p {
    color: var(--Personal-colors-black);
    font-size: var(--column-gap-option-item-xl);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media (max-width: 576px) {
      font-weight: 500;
      font-size: var(--column-gap-option-item-md);
    }

    @media (max-width: 375px) {
      font-size: 12px;
    }
  }

  button {
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size-xl-button-text);
    font-weight: 600;
    color: var(--Personal-colors-main);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    @media (max-width: 576px) {
      font-size: var(--font-size-sm-button-text);
    }

    svg {
      width: auto;
      height: auto;
      stroke: var(--Personal-colors-main);
    }
  }
}
