@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "reset.scss";
@import "variables.scss";

body {
  font-family: "Montserrat", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &.sidebar-open {
    overflow: hidden;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 1s ease-in;
      backdrop-filter: blur(3px);
    }
  }
}

main {
  padding-top: var(--header-height-xl);

  @media (max-width: 992px) {
    padding-top: var(--header-height-lg);
  }

  @media (max-width: 768px) {
    padding-top: var(--header-height-lg);
  }

  @media (max-width: 576px) {
    padding-top: var(--header-height-sm);
  }

  @media (max-width: 375px) {
    padding-top: var(--header-height-xs);
  }
}

.button {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;

  padding: 15px 31px 15px 31px;
  cursor: pointer;
  border-radius: 12px;

  &__blue {
    color: var(--Personal-colors-White);
    background: var(--Gradients-Gradient-1);

    &:hover {
      background: #005aa5;
    }
  }

  &__white {
    color: var(--Personal-colors-main);
    border: 1px solid var(--Personal-colors-main);
    background: #fff;

    &:hover {
      background: rgb(237, 237, 237);
    }
  }

  &__orange {
    color: var(--Personal-colors-White);
    background: var(--Gradients-Gradient-2);

    &:hover {
      background: var(--Gradients-Gradient-2);
    }
  }

  &__green {
    color: var(--Personal-colors-White);
    background: var(--Personal-colors-Green);
  }

  &__yellow {
    color: var(--Personal-colors-White);
    background: var(--Orange);

    &:hover {
      background: var(--Orange);
    }
  }
}

.main_layout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  background: url("/images/rootBg/DesktopBG.svg") repeat top center;
  background-size: cover;

  @media (max-width: 992px) {
    background: url("/images/rootBg/TabletBG.svg") repeat top center;
  }

  @media (max-width: 576px) {
    background: url("/images/rootBg/MobileBG.svg") repeat top center;
  }

  header,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    overflow-y: auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--modal-z-index - 1);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding-xl-side);
  margin: 0 auto;

  @media (max-width: 992px) {
    // max-width: var(--breakpoint-lg);
    padding: 0 var(--container-padding-lg-side);
  }

  @media (max-width: 768px) {
    // max-width: var(--breakpoint-md);
    padding: 0 var(--container-padding-md-side);
  }

  @media (max-width: 576px) {
    // max-width: var(--breakpoint-sm);
    padding: 0 var(--container-padding-sm-side);
  }

  @media (max-width: 375px) {
    // max-width: var(--breakpoint-xs);
    padding: 0 var(--container-padding-xs-side);
  }
}

.layout {
  background: var(--Gradients-Gradient-1);
}

.sidebar {
  padding-left: 75px;
}

.blur {
  position: relative;
  z-index: 1;
  pointer-events: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
}

.shake__animation {
  animation:
    slideInFromRight 0.3s ease-in-out forwards,
    shake 0.3s ease-in-out 0.1s forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-100px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0);
  }
}

.colorline {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  height: 3px;
  border-radius: 15px;
  min-width: 60px;
  width: 100%;
  background: linear-gradient(to right,
      #5c89ff var(--male),
      #fc65ff var(--male) 100%);

  &::before {
    content: attr(data-male);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8px;
    overflow: hidden;
    position: relative;

    color: var(--Subtitle-text);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 12px;

    @media (max-width: 992px) {
      margin-right: 250px;
    }

    @media (max-width: 576px) {
      margin-right: 100px;
    }
  }

  &::after {
    content: attr(data-female);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8px;
    overflow: hidden;
    position: relative;

    color: var(--Subtitle-text);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.rotate {
  stroke: var(--Personal-colors-main);
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.rotate__down {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.active__icon {
  stroke: var(--Personal-colors-main);
}

.default__icon__grey {
  stroke: var(--choosen-text);
}

.default__icon__black {
  stroke: var(--Personal-colors-black);
}

.default__icon__white {
  stroke: var(--Personal-colors-White);
}

.show {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.scroll {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    border-radius: 5px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #999;
    border-radius: 5px;
  }
}

.deactive {
  pointer-events: none;
  // background: var(--Inside-container);
  // filter: grayscale(100%);
}

// .swiper-wrapper{
//   display: grid;
//   grid-auto-flow: column;
// }

.swiper {
  margin: 0;
  padding: 20px 8px;
  z-index: 0;
  // margin: 10px;
}

.slide__price {
  display: grid;
  filter: blur(2.5px);

  &.swiper-slide-active {
    filter: none !important;
    border-radius: 40px 40px 0px 40px;
    border: 2px solid #4772e6;
    box-shadow: 0px 4px 21px 0px rgba(144, 71, 237, 0.21);
  }
}

.border__gradient {
  background: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--zIndexTop);
    margin: var(--borderMass);

    border-radius: calc(var(--borderRadius) - var(--borderMass));
    /* !importanté */
    background: var(--Personal-colors-White);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--zIndexBottom);
    // z-index: -2;
    border-radius: var(--borderRadius);
    /* !importanté */
    // background: var(--Gradients-Gradient-1);
    background: var(--gradient);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --skeleton-light: hsl(210 40% 96.1%);
    --skeleton-dark: hsl(216, 12%, 84%);

    --toast-success: hsl(83, 78%, 55%);
    --toast-error: hsl(0 84.2% 60.2%);
    --toast-foreground: hsl(0, 0%, 100%);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.hyperlink {
  color: rgb(48, 117, 202);
  text-decoration: underline;
}