// :root {
//   --background: 0 0% 100%;
//   --foreground: 212.1739 94.5205% 14.3137%;
//   --card: 180 6.6667% 97.0588%;
//   --card-foreground: 212.1739 94.5205% 14.3137%;
//   --popover: 0 0% 100%;
//   --popover-foreground: 212.1739 94.5205% 14.3137%;
//   --primary: 186.8852 89.2683% 40.1961%;
//   --primary-foreground: 0 0% 100%;
//   --secondary: 212.1739 94.5205% 14.3137%;
//   --secondary-foreground: 0 0% 100%;
//   --muted: 240 1.9608% 90%;
//   --muted-foreground: 212.1739 94.5205% 14.3137%;
//   --accent: 211.5789 51.3514% 92.7451%;
//   --accent-foreground: 186.8852 89.2683% 40.1961%;
//   --destructive: 356.3033 90.5579% 54.3137%;
//   --destructive-foreground: 0 0% 100%;
//   --border: 201.4286 30.4348% 90.9804%;
//   --input: 200 23.0769% 97.4510%;
//   --ring: 202.8169 89.1213% 53.1373%;
//   --chart-1: 186.8852 89.2683% 40.1961%;
//   --chart-2: 159.7826 100% 36.0784%;
//   --chart-3: 42.0290 92.8251% 56.2745%;
//   --chart-4: 147.1429 78.5047% 41.9608%;
//   --chart-5: 341.4894 75.2000% 50.9804%;
//   --sidebar: 180 6.6667% 97.0588%;
//   --sidebar-foreground: 212.1739 94.5205% 14.3137%;
//   --sidebar-primary: 186.8852 89.2683% 40.1961%;
//   --sidebar-primary-foreground: 0 0% 100%;
//   --sidebar-accent: 211.5789 51.3514% 92.7451%;
//   --sidebar-accent-foreground: 186.8852 89.2683% 40.1961%;
//   --sidebar-border: 205.0000 25.0000% 90.5882%;
//   --sidebar-ring: 202.8169 89.1213% 53.1373%;
//   --font-sans: Open Sans, sans-serif;
//   --font-serif: Georgia, serif;
//   --font-mono: Menlo, monospace;
//   --radius: 1.3rem;
//   --shadow-x: 0px;
//   --shadow-y: 4px;
//   --shadow-blur: 10px;
//   --shadow-spread: 0px;
//   --shadow-opacity: 0.12;
//   --shadow-color: hsl(240 30% 25%);
//   --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
//   --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
//   --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
//   --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
//   --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
//   --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
//   --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
//   --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
//   --tracking-normal: 0em;
//   --spacing: 0.25rem;
// }

// .dark {
//   --background: 0 0% 0%;
//   --foreground: 200 6.6667% 91.1765%;
//   --card: 228 9.8039% 10%;
//   --card-foreground: 0 0% 85.0980%;
//   --popover: 0 0% 0%;
//   --popover-foreground: 200 6.6667% 91.1765%;
//   --primary: 186.8852 89.2683% 40.1961%;
//   --primary-foreground: 0 0% 100%;
//   --secondary: 195.0000 15.3846% 94.9020%;
//   --secondary-foreground: 212.1739 94.5205% 14.3137%;
//   --muted: 0 0% 9.4118%;
//   --muted-foreground: 210 3.3898% 46.2745%;
//   --accent: 205.7143 70% 7.8431%;
//   --accent-foreground: 186.8852 89.2683% 40.1961%;
//   --destructive: 356.3033 90.5579% 54.3137%;
//   --destructive-foreground: 0 0% 100%;
//   --border: 210 5.2632% 14.9020%;
//   --input: 207.6923 27.6596% 18.4314%;
//   --ring: 186.8852 89.2683% 40.1961%;
//   --chart-1: 186.8852 89.2683% 40.1961%;
//   --chart-2: 159.7826 100% 36.0784%;
//   --chart-3: 42.0290 92.8251% 56.2745%;
//   --chart-4: 147.1429 78.5047% 41.9608%;
//   --chart-5: 341.4894 75.2000% 50.9804%;
//   --sidebar: 228 9.8039% 10%;
//   --sidebar-foreground: 0 0% 85.0980%;
//   --sidebar-primary: 186.8852 89.2683% 40.1961%;
//   --sidebar-primary-foreground: 0 0% 100%;
//   --sidebar-accent: 205.7143 70% 7.8431%;
//   --sidebar-accent-foreground: 186.8852 89.2683% 40.1961%;
//   --sidebar-border: 205.7143 15.7895% 26.0784%;
//   --sidebar-ring: 186.8852 89.2683% 40.1961%;
//   --font-sans: Open Sans, sans-serif;
//   --font-serif: Georgia, serif;
//   --font-mono: Menlo, monospace;
//   --radius: 1.3rem;
//   --shadow-x: 0px;
//   --shadow-y: 4px;
//   --shadow-blur: 10px;
//   --shadow-spread: 0px;
//   --shadow-opacity: 0.12;
//   --shadow-color: hsl(240 30% 25%);
//   --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
//   --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
//   --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
//   --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
//   --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
//   --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
//   --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
//   --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
// }
