:root {
  --container-width: 1280px;
  --container-padding-all: 15px;
  --container-padding-side: 50px;
  --container-padding-top: 80px;
  --Subtitle-text: #666;
  --secondary-text: #b0bcda;
  --sticky-blog-top: 50px;
  --left-padding-header: 2.5vw;

  // Gradients
  --primary-gradient: linear-gradient(45deg, #0badc2 23.91%, #0aa5be 75.06%);

  --Gradients-Gradient-2: radial-gradient(
      419.34% 136.52% at 0% 100%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(125, 117, 117, 0) 100%
    ),
    linear-gradient(90deg, #ff2f66 0%, rgba(254, 110, 48, 0.988) 100%);
  --Gradients-Gradient-4: linear-gradient(
    63deg,
    #ffca28 0%,
    rgba(254, 110, 48, 0.99) 83.33%
  );
  --Gradients-Gradient-5: linear-gradient(90deg, #0e7490 0%, #155e75 100%);
  --Gradients-Gradient-6: linear-gradient(37deg, #ffef28 0%, #fe3430fc 71.43%);
  --Gradients-Gradient-7: linear-gradient(
    45deg,
    rgba(71, 114, 230, 0.1) 23.91%,
    rgba(142, 84, 233, 0.1) 75.06%
  );

  // Colors
  --Personal-colors-black: #022247;
  --Personal-colors-light-black: #133c71;
  --Personal-colors-main: #0badc2;
  --Personal-colors-main2: #0aa5be;
  --Personal-colors-White: #fff;
  --Personal-colors-Green: #48d23c;
  --Personal-colors-Grey: #00000033;

  --Personal-colors-Orange-light: #f06547;
  --Personal-colors-Green-light: #0ab39c;

  --Personal-colors-green-hover: #6bda62;
  --Personal-colors-Click: #efe6ff;
  --Personal-colors-Error: rgba(254, 52, 48, 0.99);
  --Personal-colors-grey: #bdbdbd;
  --black-10: rgba(0, 0, 0, 0.1);
  --Orange: #ffa04f;

  --Text-sample: #acaaaa;
  --Sub-text: #4d4d4d;
  --choosen-text: #808080;
  --Inside-container: #d4ddf3;
  --Containers: #8c8c8c;
  --Card-separator: #d9d9d9;
  --black-20: #ccc;

  --URL: #4d94ff;

  --color-sex-man: #61a5f5;
  --color-sex-woman: #ff95e1;
  --woman: 50;
  --man: 50%;

  --borderRadius: 12px;
  --borderMass: 1px;
  --gradient: var(--primary-gradient);
  --zIndexTop: -1;
  --zIndexBottom: -2;

  /* Breakpoint constants */
  --breakpoint-xl: 1366px; /* Extra Large */
  --breakpoint-lg: 992px; /* Large */
  --breakpoint-md: 768px; /* Medium */
  --breakpoint-sm: 576px; /* Small */
  --breakpoint-xs: 375px; /* Extra Small */

  /* Контейнерные отступы */
  /* Контейнерные отступы для Extra Large */
  --container-padding-xl-all: 12px;
  --container-padding-xl-side: 32px;
  --container-padding-xl-top: 60px;

  /* Контейнерные отступы для Large */
  --container-padding-lg-all: 10px;
  --container-padding-lg-side: 28px;
  --container-padding-lg-top: 50px;

  /* Контейнерные отступы для Medium */
  --container-padding-md-all: 8px;
  --container-padding-md-side: 20px;
  --container-padding-md-top: 40px;

  /* Контейнерные отступы для Small */
  --container-padding-sm-all: 6px;
  --container-padding-sm-side: 16px;
  --container-padding-sm-top: 32px;

  /* Контейнерные отступы для Extra Small */
  --container-padding-xs-all: 4px;
  --container-padding-xs-side: 12px;
  --container-padding-xs-top: 28px;

  --header-height-xl: 70px;
  --header-height-lg: 70px;
  --header-height-md: 56px;
  --header-height-sm: 56px;
  --header-height-xs: 56px;

  --sidebar-width: 80px;

  /* Extra Large (XL) */
  --font-size-title-main-xl: 28px;
  --font-size-subtitle-main-xl: 18px;
  --row-gap-title-xl: 20px;
  --row-gap-content-xl: 32px;
  --font-size-option-item-xl: 15px;
  --column-gap-option-item-xl: 16px;
  --font-size-title-secondary-xl: 22px;
  --font-size-subtitle-secondary-xl: 16px;
  --font-size-text-primary-xl: 14px;
  --font-size-text-accent-xl: 14px;
  --font-size-xl-text-secondary: 12px;
  --font-size-xl-button-text: 12px;
  --margin-section-xl: 64px;
  --cards-list-height: calc(var(--vh) * 100);

  /* Large (LG) */
  --font-size-title-main-lg: 24px;
  --font-size-subtitle-main-lg: 16px;
  --row-gap-title-lg: 18px;
  --row-gap-content-lg: 28px;
  --font-size-option-item-lg: 14px;
  --column-gap-option-item-lg: 16px;
  --font-size-title-secondary-lg: 20px;
  --font-size-subtitle-secondary-lg: 16px;
  --font-size-text-secondary-lg: 12px;
  --font-size-text-accent-lg: 14px;
  --font-size-lg-text-primary: 14px;
  --font-size-lg-button-text: 12px;
  --margin-section-lg: 56px;

  /* Medium (MD) */
  --font-size-title-main-md: 22px;
  --font-size-subtitle-main-md: 16px;
  --row-gap-title-md: 16px;
  --row-gap-content-md: 24px;
  --font-size-option-item-md: 13px;
  --column-gap-option-item-md: 12px;
  --font-size-title-secondary-md: 20px;
  --font-size-subtitle-secondary-md: 15px;
  --font-size-text-secondary-md: 11px;
  --font-size-text-accent-md: 13px;
  --font-size-md-text-primary: 13px;
  --font-size-md-button-text: 11px;
  --margin-section-md: 48px;

  /* Small (SM) */
  --font-size-title-main-sm: 20px;
  --font-size-subtitle-main-sm: 15px;
  --row-gap-title-sm: 14px;
  --row-gap-content-sm: 20px;
  --font-size-option-item-sm: 12px;
  --column-gap-option-item-sm: 10px;
  --font-size-title-secondary-sm: 18px;
  --font-size-subtitle-secondary-sm: 14px;
  --font-size-text-secondary-sm: 10px;
  --font-size-text-accent-sm: 12px;
  --font-size-sm-text-primary: 12px;
  --font-size-sm-button-text: 10px;
  --margin-section-sm: 40px;

  /* Extra Small (XS) */
  --font-size-title-main-xs: 18px;
  --font-size-subtitle-main-xs: 14px;
  --row-gap-title-xs: 12px;
  --row-gap-content-xs: 18px;
  --font-size-option-item-xs: 11px;
  --column-gap-option-item-xs: 8px;
  --font-size-title-secondary-xs: 16px;
  --font-size-subtitle-secondary-xs: 13px;
  --font-size-text-secondary-xs: 10px;
  --font-size-text-accent-xs: 12px;
  --font-size-xs-text-primary: 11px;
  --font-size-xs-button-text: 10px;
  --margin-section-xs: 32px;

  /* Admin Panel (XL) */
  --sidebar-admin-xl: 64px;
}
