:root {
  --container-width: 1270px;
  --container-padding-all: 15px;
  --container-padding-side: 50px;
  --container-padding-top: 80px;
  --Subtitle-text: #666;
  --secondary-text: #606060;

  --Gradients-Gradient-1: linear-gradient(
    45deg,
    #4772e6 23.91%,
    #8e54e9 75.06%
  );
  --Gradients-Gradient-2: radial-gradient(
      419.34% 136.52% at 0% 100%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(125, 117, 117, 0) 100%
    ),
    linear-gradient(90deg, #ff2f66 0%, rgba(254, 110, 48, 0.99) 100%);
  --Gradients-Gradient-4: linear-gradient(
    63deg,
    #ffca28 0%,
    rgba(254, 110, 48, 0.99) 83.33%
  );
  --Gradients-Gradient-5: linear-gradient(90deg, #314479 0%, #51377a 100%);
  --Gradients-Gradient-6: linear-gradient(
    37deg,
    #ffef28 0%,
    rgba(254, 52, 48, 0.99) 71.43%
  );

  --Personal-colors-black: #000;
  --Personal-colors-main: #4772e6;
  --Personal-colors-White: #fff;
  --Personal-colors-Green: #48d23c;
  --Personal-colors-green-hover: #6bda62;
  --Personal-colors-Click: #efe6ff;
  --Personal-colors-Error: rgba(254, 52, 48, 0.99);
  --Personal-colors-grey: #bdbdbd;
  --black-10: rgba(0, 0, 0, 0.1);
  --Orange: #ffa04f;

  --Text-sample: #a3a0a0;
  --Sub-text: #4d4d4d;
  --choosen-text: #808080;
  --Inside-container: #bdbdbd;
  --Containers: #8c8c8c;
  --Card-separator: #d9d9d9;

  --URL: #4d94ff;

  --woman: 50;
  --man: 50%;

  --borderRadius: 12px;
  --borderMass: 1px;
  --gradient: var(--Gradients-Gradient-1);
  --zIndexTop: -1;
  --zIndexBottom: -2;

  /* Breakpoint constants */
  --breakpoint-xl: 1366px; /* Extra Large */
  --breakpoint-lg: 992px; /* Large */
  --breakpoint-md: 768px; /* Medium */
  --breakpoint-sm: 576px; /* Small */
  --breakpoint-xs: 375px; /* Extra Small */

  /* Контейнерные отступы */
  /* Контейнерные отступы для Extra Large */
  --container-padding-xl-all: 15px;
  --container-padding-xl-side: 50px;
  --container-padding-xl-top: 80px;

  /* Контейнерные отступы для Large */
  --container-padding-lg-all: 12px;
  --container-padding-lg-side: 40px;
  --container-padding-lg-top: 70px;

  /* Контейнерные отступы для Medium */
  --container-padding-md-all: 10px;
  --container-padding-md-side: 25px;
  --container-padding-md-top: 60px;

  /* Контейнерные отступы для Small */
  --container-padding-sm-all: 8px;
  --container-padding-sm-side: 20px;
  --container-padding-sm-top: 50px;

  /* Контейнерные отступы для Extra Small */
  --container-padding-xs-all: 5px;
  --container-padding-xs-side: 20px;
  --container-padding-xs-top: 40px;

  /* Extra Large (XL) */
  --font-size-xl-title-main: 44px;
  --font-size-xl-subtitle-main: 24px;
  --row-gap-xl-title: 30px;
  --row-gap-xl-content: 50px;
  --font-size-xl-option-item: 16px;
  --column-gap-xl-option-item: 20px;

  --font-size-xl-title-secondary: 28px;
  --font-size-xl-subtitle-secondary: 20px;
  --font-size-xl-text-primary: 16px;
  --font-size-xl-text-secondary: 14px;
  --font-size-xl-text-accent: 18px;
  --font-size-xl-button-text: 14px;
  --margin-section-xl-top: 50px;
  --margin-section-xl-bottom: 50px;

  /* Large (LG) */
  --font-size-lg-title-main: 40px;
  --font-size-lg-subtitle-main: 22px;
  --row-gap-lg-title: 25px;
  --row-gap-lg-content: 45px;
  --font-size-lg-option-item: 15px;
  --column-gap-lg-option-item: 20px;

  --font-size-lg-title-secondary: 26px;
  --font-size-lg-subtitle-secondary: 18px;
  --font-size-lg-text-primary: 15px;
  --font-size-lg-text-secondary: 13px;
  --font-size-lg-text-accent: 17px;
  --font-size-lg-button-text: 13px;
  --margin-section-lg-top: 40px;
  --margin-section-lg-bottom: 40px;

  /* Medium (MD) */
  --font-size-md-title-main: 36px;
  --font-size-md-subtitle-main: 20px;
  --row-gap-md-title: 20px;
  --row-gap-md-content: 35px;
  --font-size-md-option-item: 14px;
  --column-gap-md-option-item: 15px;

  --font-size-md-title-secondary: 24px;
  --font-size-md-subtitle-secondary: 16px;
  --font-size-md-text-primary: 14px;
  --font-size-md-text-secondary: 12px;
  --font-size-md-text-accent: 16px;
  --font-size-md-button-text: 12px;
  --margin-section-md-top: 30px;
  --margin-section-md-bottom: 30px;

  /* Small (SM) */
  --font-size-sm-title-main: 30px;
  --font-size-sm-subtitle-main: 18px;
  --row-gap-sm-title: 15px;
  --row-gap-sm-content: 30px;
  --font-size-sm-option-item: 13px;
  --column-gap-sm-option-item: 10px;

  --font-size-sm-title-secondary: 22px;
  --font-size-sm-subtitle-secondary: 14px;
  --font-size-sm-text-primary: 13px;
  --font-size-sm-text-secondary: 11px;
  --font-size-sm-text-accent: 15px;
  --font-size-sm-button-text: 11px;
  --margin-section-sm-top: 25px;
  --margin-section-sm-bottom: 25px;

  /* Extra Small (XS) */
  --font-size-xs-title-main: 24px;
  --font-size-xs-subtitle-main: 16px;
  --row-gap-xs-title: 15px;
  --row-gap-xs-content: 25px;
  --font-size-xs-option-item: 12px;
  --column-gap-xs-option-item: 10px;

  --font-size-xs-title-secondary: 20px;
  --font-size-xs-subtitle-secondary: 12px;
  --font-size-xs-text-primary: 12px;
  --font-size-xs-text-secondary: 10px;
  --font-size-xs-text-accent: 14px;
  --font-size-xs-button-text: 10px;
  --margin-section-xs-top: 20px;
  --margin-section-xs-bottom: 20px;
}
