:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --first-text: #000;
    --secondary-text: #606060;
    --Gradient-1: #4772E6;
    --Gradient-2: #FF2F66;
    --woman: 50;
    --man: 50%;
}