.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.title {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  svg {
    width: 40px;
    height: 40px;
  }

  p {
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    color: var(--Personal-colors-main);
  }
}

.top {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  p {
    color: var(--Personal-colors-black);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.75;
  }
}

.content {
  display: grid;
  grid-template: 1fr / 1fr 0.7fr;
  column-gap: 50px;
}

.content__right {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
  align-items: start;
  position: sticky;
  right: 0;
  top: 100px;
}
