.wrapper {
}

.menu {
  // padding-top: 20px;
  right: 5px;
  top: 5px;
  display: grid;
  grid-auto-flow: row;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  min-width: 200px;
  border-radius: 7px;
  overflow: hidden;

  .top {
    display: grid;
    padding: 10px;
    grid-auto-flow: column;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;

    button {
      display: grid;
      align-items: center;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  p {
    color: var(--Personal-colors-main);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.75;
  }

  ul {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.75;

    color: var(--Personal-colors-black);
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 12px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
      color: var(--Gradients-Gradient-1);
    }

    &.delete {
      color: #ff2f66;
    }
  }
}
