.project__types {
  ul {
    display: grid;
    grid-auto-flow: column;
    column-gap: 25px;
    justify-content: start;

    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--Personal-colors-black);
    line-height: 0.75;
  }

  li {
    cursor: pointer;

    &.active {
      color: var(--Personal-colors-main);
      border-bottom: 3px solid var(--Personal-colors-main);
      padding-bottom: 10px;
    }
  }
}
