.slider{
  width: 100%;
  height: 5px;
  border-radius: 30px;
  opacity: 0.65;
  // background-color: #fff ;
  // background: var(--Gradients-Gradient-1);
  outline: none;
  transition: background 0.2s;


  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--Gradients-Gradient-2);
    border-radius: 50%;
    cursor: pointer;
  }