.content {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  row-gap: 20px;
  padding: 30px;
  position: relative;
  max-width: 50vw;

  @media (max-width: 992px) {
    max-width: 80vw;
  }

  @media (max-width: 576px) {
    max-width: 90vw;
    padding: 20px 0px;

    font-size: 12px;
  }

  &__top {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;

      @media (max-width: 576px) {
        top: 10px;
        right: 10px;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .buttons {
    padding: 0px 20px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    justify-content: space-between;

    button {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}
