.subcard__row {
  display: grid;
  grid-auto-flow: column;
  // grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  column-gap: 5px;
  align-items: center;
}

.subcard__left {
  display: grid;
  grid-auto-flow: column;
  // grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  padding: 10px 0;
  white-space: nowrap;
}

.channel__preview {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  border-right: 1px solid #d9d9d9;
  padding: 0 40px;

  p {
    color: var(--Personal-colors-black);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span {
    color: #9e9e9e;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.channel__logo {
  display: grid;
  align-items: center;
  justify-content: center;

  img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    border: 0.5px solid var(--Gradients-Gradient-1);
  }
}

.channel__column {
  color: var(--Personal-colors-black);
  border-right: 1px solid #d9d9d9;
  padding: 0 15px;

  div {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    text-align: center;
    row-gap: 22px;
    padding: 10px 0;
  }

  hr {
    height: 1px;
    background: #d9d9d9;
  }

  p {
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.channel__info {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;
  border-radius: 10px;
  background: rgba(15, 105, 201, 0.1);
  padding: 15px 30px;
  margin: 0 10px;

  svg {
    width: 14px;
    height: auto;
  }
}

.channel__info_row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: center;

  div {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  p {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span {
    color: var(--Personal-colors-black);
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.channel__info_middle {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  justify-content: center;

  div {
    display: grid;
    align-items: center;
    justify-content: center;

    svg {
      height: 15px;
      width: auto;
    }
  }
}

.subcard__status {
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  height: 100%;
  display: grid;
  align-items: center;
  padding: 0 50px;

  div {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    line-height: 0.75;

    p {
      padding: 0 30px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    span {
      padding: 0 30px;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      small {
        font-weight: 600;
      }
    }

    div {
      display: grid;
      grid-auto-flow: column;
      column-gap: 5px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }
}

.colorline {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  height: 3px;
  border-radius: 15px;
  max-width: 200px;
  min-width: 100px;
  background: linear-gradient(
    to right,
    #5c89ff var(--male),
    #fc65ff var(--male) 100%
  );

  &::before {
    // content: var(--male) " " var(--female);
    content: attr(data-male);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8px;
    overflow: hidden;
    position: relative;

    color: var(--Subtitle-text);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 12px;
  }

  &::after {
    content: attr(data-female);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8px;
    overflow: hidden;
    position: relative;

    color: var(--Subtitle-text);
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.subcard__right {
  display: grid;
  align-items: center;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
}
