.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  .price {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-align: center;
    column-gap: 10px;

    svg {
      width: 22.5px;
      height: 20px;
    }
  }
}

.button {
  padding: 5px 15px;

  &.cart {
    background: var(--Orange);
  }

  &.catalog__cart {
    background: var(--Personal-colors-Green);
  }
}
