.button {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 5px 15px;

  .price {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    column-gap: 10px;

    svg {
      width: 22.5px;
      height: 20px;
    }
  }
}
