.wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.price {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
  column-gap: 10px;
}
