.button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  padding: 15px 31px 15px 31px;
  cursor: pointer;
  border-radius: 12px;
  background: var(--Gradients-Gradient-1);
}

.button:hover {
  background-color: #005aa5;
}
