.wrapper {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 30px;

  p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
