.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: var(--row-gap-content-xl);

  @media (max-width: 992px) {
    row-gap: var(--row-gap-content-lg);
  }

  @media (max-width: 768px) {
    row-gap: var(--row-gap-content-md);
  }

  @media (max-width: 576px) {
    row-gap: var(--row-gap-content-sm);
  }

  @media (max-width: 375px) {
    row-gap: var(--row-gap-content-xs);
  }

  .top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 576px) {
      justify-content: initial;
      grid-auto-flow: row;
      row-gap: 25px;
    }

    .buttons {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      align-items: center;
      column-gap: 10px;
    }

    .title {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 25px;
      justify-content: center;

      svg {
        height: 40px;
        width: auto;

        @media (max-width: 768px) {
          height: 30px;
        }
      }

      @media (max-width: 576px) {
        column-gap: 15px;
      }

      p {
        color: var(--Personal-colors-black);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: var(--row-gap-title-xl);

        @media (max-width: 992px) {
          font-size: var(--row-gap-title-lg);
        }

        @media (max-width: 768px) {
          font-size: var(--row-gap-title-md);
        }
      }
    }
  }

  .cards {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
  }
  .empty__block {
    margin-top: 15%;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 15vw;
        height: 15vw;
      }
    }

    .title {
      font-size: 26px;
      text-align: center;
      margin-top: 50px;
      color: #bbbbbb;
    }
  }
}
