.wrapper {
  display: grid;
  grid-template: 1fr min-content / 1fr;

  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  background: var(--Personal-colors-White);
  position: relative;

  min-height: 340px;

  .channel {
    display: grid;
    grid-auto-flow: row;
    padding: 15px;
    padding-bottom: 0px;
    row-gap: 20px;

    @media (max-width: 768px) {
      row-gap: 12px;
    }

    .description {
      color: var(--Subtitle-text);
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      word-break: break-word;
    }

    &__top {
      display: grid;
      grid-template: 1fr / max-content 1fr min-content;
      column-gap: 20px;

      @media (max-width: 768px) {
        align-items: center;
        column-gap: 12px;
      }

      @media (max-width: 576px) {
        align-items: stretch;
        column-gap: 12px;
      }

      .logo {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        justify-content: center;
        justify-items: center;

        @media (max-width: 576px) {
          row-gap: 5px;
        }

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 0.5px solid var(--Personal-colors-main);

          @media (max-width: 768px) {
            width: 60px;
            height: 60px;
          }

          @media (max-width: 576px) {
            width: 40px;
            height: 40px;
          }
        }

        .rate {
          svg {
            width: 80px;

            @media (max-width: 768px) {
              width: 60px;
            }
          }
        }
      }

      .column__info {
        display: grid;
        grid-auto-flow: row;
        align-items: start;

        .info {
          display: grid;
          grid-auto-flow: row;
          row-gap: 10px;
          margin-top: 5px;

          @media (max-width: 576px) {
            margin-top: 0px;
          }

          .title {
            color: var(--Personal-colors-main);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 1;

            .languages {
              display: grid;
              grid-auto-flow: column;
              gap: 5px;
              align-items: center;
              justify-content: start;
              justify-items: start;
              align-content: start;
              margin-top: 2px;
              border-radius: 5px;
              background: rgba(15, 105, 201, 0.1);
              width: max-content;
              // min-width: 40px;
              padding: 3px;

              @media (max-width: 576px) {
                border-radius: 2.5px;
              }

              &__icon {
                width: 12px;
                height: 12px;

                @media (max-width: 576px) {
                  width: 10px;
                  height: 10px;
                }
              }
            }
          }

          .category {
            color: var(--Subtitle-text);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .column__parameters {
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        svg {
          height: 18px;
          min-width: 18px;
        }
      }
    }
  }
}

.channel__xs {
  display: grid;
  grid-auto-flow: row;

  .channel__data__xs {
    display: grid;
    grid-auto-flow: row;

    padding: 10px 12px;
    border-radius: 10px;
    background: rgba(15, 105, 201, 0.1);

    .channel__content {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;
      padding-top: 15px;
    }

    .channel__content[data-state="open"] {
      margin-top: 15px;
    }

    .channel__data_row {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      position: relative;
      justify-items: center;

      .arrow {
        display: grid;
        position: absolute;
        top: 5px;
        right: 15px;
      }

      .data {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        column-gap: 10px;
        justify-content: center;
        align-items: center;

        div {
          display: grid;
          justify-content: center;

          svg {
            width: auto;
            height: 16px;
          }
        }

        p {
          color: rgba(0, 0, 0, 0.6);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;

          @media (max-width: 576px) {
            font-size: 12px;
          }
        }

        span {
          color: var(--Personal-colors-black);
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
        }
      }
    }

    .channel__data_middle {
      display: grid;
      justify-content: center;

      .middle {
        display: grid;
        grid-template: 1fr / 1fr 10fr 1fr;
        column-gap: 6px;
        justify-items: center;
        align-items: center;
        padding: 0 40px;

        div {
          display: grid;
          justify-content: center;

          svg {
            width: auto;
            height: 24px;
          }
        }
      }
    }
  }

  .channel__data__xs__bottom {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
