.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  padding: 20px 20px 30px 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 1px rgba(142, 84, 233, 0.3);

  .wallet_main {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    background: var(--Gradients-Gradient-1);
    padding: 20px;
    border-radius: 20px;

    .title {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-content: center;
      align-items: center;
      column-gap: 10px;
    }

    .label {
      color: var(--Personal-colors-White);
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      font-style: normal;
    }
    .value {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      font-style: normal;
      color: var(--Personal-colors-White);

      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        font-style: normal;
      }
    }
  }

  .wallet_sub {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;

    .wallet_sub__item {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      justify-content: space-between;
      align-content: center;
      align-items: center;

      .label {
        color: var(--Personal-colors-Black);
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        font-style: normal;
      }
      .value {
        color: var(--Personal-colors-Black);
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        font-style: normal;

        span {
          font-size: 12px;
          font-weight: 500;
          line-height: 1;
          font-style: normal;
        }
      }
    }
  }
}
