.wrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 50px;
  padding: 35px 50px;
  border-radius: 20px;
  background: var(--Personal-colors-White);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
  height: 300px;

  .channel__logo__wrapper {
    display: grid;
    align-items: center;

    .channel__logo {
      display: grid;
      grid-auto-flow: row;
      row-gap: 20px;

      .add_channel {
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        padding: 10px 15px;
        border-radius: 12px;
        border: 1px solid var(--black-20);
        background: var(--Personal-colors-White);

        p {
          color: var(--black-20);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        svg {
          width: 20px;
          height: auto;
        }
      }

      .logo {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        justify-content: center;
        justify-items: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 2px solid var(--black-20);
        }

        svg {
          width: 130px;
          height: auto;
        }
      }
    }
  }

  .channel__description {
    display: grid;
    grid-auto-flow: row;
    row-gap: 25px;

    .title {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;

      p {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
        color: var(--Personal-colors-main);
      }
      div {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        column-gap: 10px;

        svg {
          height: 24px;
          width: auto;
        }
      }
    }

    .description {
      color: var(--Personal-colors-black);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }

    .link {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      align-items: center;
      justify-content: start;

      svg {
        height: 24px;
        width: 24px;
      }

      p {
        color: var(--URL);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
      }
    }
  }
}

.block {
  display: grid;
  grid-auto-flow: rows;
  grid-template: 1fr min-content / 1fr;
  row-gap: 10px;

  .short_text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--rows);
    width: 100%;
  }

  div {
    display: grid;
    justify-content: end;
    color: var(--Personal-colors-main);
  }
}
