.wrapper {
  display: grid;
  grid-template: 1fr/ 0.9fr 1fr;
  align-items: center;
}

.wrapper__row {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;
  align-items: center;
}

.parameters {
  p {
    color: var(--Personal-colors-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  span,
  li {
    color: var(--choosen-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.filter__wrapper {
  grid-template: 1fr/ 1fr 2fr;
  column-gap: 10px;
  p {
    color: var(--Sub-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  span,
  li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.left {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  justify-content: start;
}

.menu {
  width: 100%;
  position: relative;
  white-space: nowrap;

  button {
    display: grid;
    align-content: center;
    padding: 20px 25px;
    border-radius: 12px;
    width: 100%;

    border: 1px solid var(--Inside-container);
    background: var(--Personal-colors-White);
    color: #a3a0a0;

    div {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;

      &.filter {
        display: grid;
        column-gap: 5px;
        justify-content: start;
      }
    }

    &:hover {
      border: 1px solid var(--Inside-container);
      background: rgba(189, 189, 189, 0.25);
    }

    &.active {
      span {
        color: var(--Personal-colors-main);
      }
      border: 1px solid var(--Personal-colors-main);
      background: var(--Personal-colors-White);
    }

    &.filter {
      span {
        color: rgba(0, 0, 0, 0.6);
      }
      padding: 10px;
      border: 1px solid var(--Inside-container);
    }
  }

  .scroll {
    overflow-y: scroll;
    max-height: 150px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #ccc;
      border-radius: 5px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background-color: #999;
      border-radius: 5px;
    }

    li {
      margin-right: 10px;
    }
  }

  .options {
    margin-top: 5px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 5px;
    overflow: hidden;
    z-index: 1;
    width: 100%;

    &.show {
      opacity: 1;
    }

    ul {
      display: grid;
      grid-auto-flow: row;
      row-gap: 2px;
    }

    li {
      color: var(--Personal-colors-black);
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;

      input {
        cursor: pointer;
      }

      &.filter {
        column-gap: 5px;
        justify-content: start;
      }

      &:hover {
        color: var(--Personal-colors-main);
        background: rgba(189, 189, 189, 0.25);
        border-radius: 8px;
      }

      &.active {
        color: var(--Personal-colors-black);
        background: linear-gradient(
          45deg,
          rgba(71, 114, 230, 0.25) 23.91%,
          rgba(142, 84, 233, 0.25) 75.06%
        );
        border-radius: 8px;
      }
    }
  }
}
