.wrapper{
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  margin-right: 40px;

  button {
    display: grid;
    align-content: center;
    justify-content: center;
    // width: 65px;
    padding: 0 22px;
    height: 25px;
    border-radius: 12px;
    border: 1px solid var(--Gradient-1, #4772E6);
    color: var(--first-text);
    cursor: pointer;
    position: relative;
    font-weight: inherit;

  }
}

.menu {
    margin-top: 5px;
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 12px;
    overflow: hidden;
  
    li {
      padding: 8px 15px;
      cursor: pointer;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
  
      &:hover {
        background-color: #f0f0f0;
        color: var(--Gradient-1, linear-gradient(93deg, #4772E6 2.37%, #8E54E9 52.62%));
      }
    }
  }