.lang{
    width: 35px;
    height: 25px;   
    border-radius: 12px;
    border: 1px solid var(--Gradient-1, #4772E6);
    color: var(--first-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px; 
    padding: 6px;
    cursor: pointer;
}