.wrapper {
  display: grid;
  column-gap: 20px;
  padding: 15px 20px;
  min-height: 80px;

  &.wait {
    grid-template-columns: repeat(3, 1fr) 0.5fr max-content;
  }

  &.accept {
    grid-template-columns: repeat(4, 1fr) repeat(2, 0.75fr) max-content;
  }

  .platform,
  .user {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 20px;

    .logo {
      display: grid;
      align-content: center;
    }

    .info {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
      align-content: center;
    }
  }

  .id,
  .date {
    display: grid;
    align-content: center;
    text-align: start;
  }

  .last {
    display: grid;
    align-content: center;
  }
}
