.wrapper {
  display: grid;
  grid-auto-flow: row;

  row-gap: var(--row-gap-content-xl);
  margin-top: calc(var(--margin-section-xl) / 2);
  margin-bottom: var(--margin-section-xl);

  @media (max-width: 992px) {
    row-gap: var(--row-gap-content-lg);
    margin-top: calc(var(--margin-section-lg) / 2);
    margin-bottom: var(--margin-section-lg);
  }

  @media (max-width: 768px) {
    row-gap: var(--row-gap-content-md);
    margin-top: calc(var(--margin-section-md) / 2);
    margin-bottom: var(--margin-section-md);
  }

  @media (max-width: 576px) {
    row-gap: var(--row-gap-content-sm);
    margin-top: calc(var(--margin-section-sm) / 2);
    margin-bottom: var(--margin-section-sm);
  }

  @media (max-width: 375px) {
    row-gap: var(--row-gap-content-xs);
    margin-top: calc(var(--margin-section-xs) / 2);
    margin-bottom: var(--margin-section-xs);
  }

  .title {
    display: grid;
    text-align: center;
    color: var(--Personal-colors-black);
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-title-main-xl);

    @media (max-width: 992px) {
      font-size: var(--font-size-title-main-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-title-main-md);
    }

    @media (max-width: 576px) {
      font-size: var(--font-size-title-main-sm);
    }

    @media (max-width: 375px) {
      font-size: var(--font-size-title-main-xs);
    }
  }

  .content {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    column-gap: 30px;

    @media (max-width: 992px) {
      grid-template: 1fr / 1fr;
    }

    .left {
      @media (min-width: 993px) {
        position: sticky;
        top: var(--sticky-blog-top);
        width: 100%;
        min-width: 390px;
      }
    }

    .right {
      .content__right {
        display: grid;
        grid-auto-flow: row;
      }

      .cart {
        // @media (min-width: 993px){
        position: sticky;
        bottom: 0;
        width: 100%;
        // }
      }
    }
  }
}
