.chapter {
  ul {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    color: var(--Personal-colors-black);
    list-style: none;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    padding: 10px;

    li {
      padding: 10px 20px 10px 15px;
      cursor: pointer;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      align-items: center;
      gap: 10px;
      position: relative;
    }
  }

  .row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    color: var(--Personal-colors-black);
    width: 100%;
    position: relative;

    &__title {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 10px;
      align-items: center;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (max-width: 576px) {
        font-weight: 500;
      }
    }

    &.active {
      border-radius: 12px;
      background: var(--primary-gradient);
      color: var(--Personal-colors-White);
    }
  }
}

.badge {
  position: absolute;
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 5px;
  background: red;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  top: -5px;
  left: -5px;
  z-index: 50;

  span {
    color: var(--Personal-colors-White);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
