.wrapper {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  gap: 10px;
  column-gap: 20px;
  padding: 20px 15px;
  align-items: center;

  @media (min-width: 1200px) {
    grid-template: 1fr / 1fr auto;
    gap: 0;
  }

  @media (max-width: 992px) {
    padding: 12px 15px;
    column-gap: 30px;
    grid-template: 1fr / 1fr auto;
    margin: 0 calc(-1 * var(--container-padding-lg-side));
    border-radius: 0px;
  }

  @media (max-width: 768px) {
    margin: 0 calc(-1 * var(--container-padding-md-side));
  }

  @media (max-width: 576px) {
    grid-template: none;
    grid-auto-flow: row;
    row-gap: 10px;
    padding: 15px 20px;
    margin: 0 calc(-1 * var(--container-padding-sm-side));
  }
}
