.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  width: 100vw;
  height: 100dvh;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.95);

  .text {
    width: fit-content;
    font-size: 30px;
    font-weight: 600;
    color: var(--Personal-colors-main);
    -webkit-text-stroke: 0px rgba(0, 0, 0, 0.3);
    background: conic-gradient(#0badc2 0 0) 0/0% 100% no-repeat text;
    animation: l1 0.8s linear infinite;

    &::before {
      content: "";
    }

    @keyframes l1 {
      to {
        background-size: 120% 100%;
      }
    }

    @media (max-width: 576px) {
      font-size: 20px;
      font-weight: 600;
      -webkit-text-stroke: 0px rgba(0, 0, 0, 0.3);
    }
  }

  .loader {
    width: 32px;
    aspect-ratio: 1;
    display: grid;

    @media (max-width: 576px) {
      width: 26px;
    }

    &::before,
    &::after {
      content: "";
      grid-area: 1/1;
      --c: no-repeat radial-gradient(farthest-side, #0badc2 92%, #0000);
      background:
        var(--c) 50% 0,
        var(--c) 50% 100%,
        var(--c) 100% 50%,
        var(--c) 0 50%;
      background-size: 8px 8px;
      animation: l12 1.5s infinite;

      @media (max-width: 576px) {
        background-size: 6px 6px;
      }
    }

    &::before {
      margin: 2px;
      filter: hue-rotate(45deg);
      background-size: 6px 6px;
      animation-timing-function: linear;

      @media (max-width: 576px) {
        background-size: 5px 5px;
        margin: 1.5px;
      }
    }

    @keyframes l12 {
      100% {
        transform: rotate(0.5turn);
      }
    }
  }
}
