.profile {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  align-items: start;

  .title {
    color: var(--Personal-colors-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
  }

  .empty {
    display: grid;
    row-gap: 20px;
    justify-content: center;
    align-items: center;

    &__text {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.all__profile {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  background: var(--Personal-colors-White);
}

.scroll {
  overflow-y: scroll;
  max-height: 600px;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
