.profile {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
  align-items: start;

  .title {
    color: var(--Personal-colors-black);
    font-style: normal;
    font-weight: 500;
    text-align: left;
    font-size: 22px;
  }

  .empty {
    display: grid;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    &__text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }

    &.mini {
      background-color: var(--Personal-colors-White);
      padding: 10px 15px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
      border-radius: 20px;
      margin: 20px 0;
      font-size: 15px;
      grid-auto-flow: column;
      justify-content: flex-start;
      column-gap: 20px;
      height: 80px;

      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.all__profile {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  background: var(--Personal-colors-White);
}

.scroll {
  overflow-y: scroll;
  max-height: 600px;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
