.no__project {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
}

.smile {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  text-align: center;

  div {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
  }

  p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 510px;
  }

  svg {
    width: 185px;
    height: 185px;
  }
}
