.wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  row-gap: 20px;

  .title {
    color: var(--Personal-colors-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
}

.parameters {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  text-align: center;
  row-gap: 20px;
}

.row {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  width: 100%;
  column-gap: 20px;
}

.row.createProfile {
  grid-template: 1fr / 0.3fr 1fr;
}

.left {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  column-gap: 10px;

  svg {
    max-width: none;
    width: 15px;
    height: 15px;
  }

  span {
    color: var(--Personal-colors-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}

.right {
  width: 100%;

  .input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.5s;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .error {
    border: 1px solid red;
    animation: shake 0.3s ease-in-out;

    &::placeholder {
      color: red;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}
