.wrapper {
  display: grid;
  grid-template: 1fr / 1fr 0.1fr;
  column-gap: 10px;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--Containers);
  background: var(--Personal-colors-White);
  cursor: pointer;
}

.active__account {
  border: 1px solid var(--Personal-colors-main);
}

.content {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: center;

  .card_name {
    color: var(--Personal-color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 0.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }

  span {
    color: var(--Containers);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 0.2px solid #000;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0.2px solid #000;
}

.active {
  background: var(--Gradients-Gradient-1);
}
