.wrapper {
  display: grid;
  padding: 0 20px;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  height: 80px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

.row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
}

.row__left {
  display: grid;
  grid-auto-flow: column;
  column-gap: 50px;
  align-items: center;
}

.separator {
  height: 100%;
  border-right: 0.5px solid #b2b2b2;
}
