.wrapper {
    display: grid;
    padding: 0 20px;
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    height: 80px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.30);
    width: 100%;
}

.row{
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: center;
}

.row__left{
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
    align-items: center;
}

.separator{
    height: 100%;
    border-right: 0.5px solid #B2B2B2;;
}
  