.top {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--Card-separator);

  .title {
    color: var(--Personal-colors-black);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;

    font-size: var(--font-size-title-main-md);

    @media (max-width: 576px) {
      text-align: center;
      font-size: var(--font-size-title-main-xs);
    }

    // @media (max-width: 375px) {
    //   font-size: var(--font-size-title-main-xs);
    // }
  }

  div {
    display: grid;

    &.adv {
      grid-template: 1fr / repeat(2, 1fr);
      column-gap: 10px;
    }

    button {
      font-size: var(--column-gap-option-item-xl);

      @media (max-width: 992px) {
        font-size: var(--column-gap-option-item-lg);
      }

      @media (max-width: 768px) {
        font-size: var(--column-gap-option-item-md);
        border-radius: 15px;
        padding: 10px 15px;
      }

      @media (max-width: 576px) {
        font-size: var(--column-gap-option-item-sm);
      }

      @media (max-width: 375px) {
        font-size: var(--column-gap-option-item-xs);
      }
    }
  }

  @media (max-width: 992px) {
    grid-auto-flow: row;
    row-gap: 15px;
    justify-content: unset;
  }

  @media (max-width: 768px) {
    padding: 0;
    border-bottom: none;
  }
}
