.top {
  margin-top: 30px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--Card-separator);

  p {
    color: var(--Personal-colors-black);
    font-size: var(--font-size-title-main-xl);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: start;
  }

  div {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    column-gap: 10px;
  }
}
