.button {
  display: grid;
  grid-template: 1fr / 1fr 1.2fr;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 0 0 15px 15px;

  @media (max-width: 767px) {
    grid-template: 1fr / 1fr 1fr;
  }

  @media (max-width: 576px) {
    grid-template: none;
    gap: 6px;
  }

  .price {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    column-gap: 10px;
    font-size: 14px;

    @media (max-width: 576px) {
      font-size: var(--font-size-option-item-sm);
    }

    svg {
      width: 22.5px;
      height: 20px;

      @media (max-width: 576px) {
        width: 20.5px;
        height: 18px;
      }
    }
  }
}
