.wrapper {
  display: grid;
  justify-content: center;
  padding: 5px 0px;
  // overflow: hidden;

  .pagination {
    display: grid;
    grid-template: 1fr / repeat(var(--count), 1fr);
    padding: 5px 0px;

    .point {
      height: 4px;
      border-radius: 0px;
      background: #dedede;

      &.active {
        background: var(--primary-gradient);
        border-radius: 5px;
      }
    }
  }
}
