.wrapper {
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;

  @media (max-width: 992px) {
    row-gap: 30px;
  }

  .form {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    padding: 50px;
    row-gap: 30px;
    border-radius: 40px;
    background: var(--Personal-colors-White);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);

    @media (max-width: 992px) {
      padding: 30px 40px;
      row-gap: 40px;
      border-radius: 30px;
    }

    @media (max-width: 576px) {
      padding: 20px;
      border-radius: 25px;
      row-gap: 30px;
    }

    .form__row {
      display: grid;
      grid-template: 1fr/ 0.5fr 1fr;
      align-items: center;

      @media (max-width: 992px) {
        grid-template: unset;
        grid-auto-flow: row;
        row-gap: 10px;
      }

      .form__text {
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        align-items: center;
        justify-content: start;

        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
      }

      .choose_platform {
        display: grid;
        grid-template: 1fr / repeat(4, 1fr);
        column-gap: 20px;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 576px) {
          grid-template: repeat(2, 1fr) / repeat(2, 1fr);
          row-gap: 10px;
          column-gap: 15px;
        }

        @media (max-width: 375px) {
          column-gap: 10px;
        }
      }

      .paste_link {
        display: grid;

        .platform__input {
          border-radius: 12px;
          padding: 15px 20px;
          border: 1px solid var(--Personal-colors-grey);
          background: rgba(189, 189, 189, 0.25);
          color: var(--Personal-colors-black);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1;

          &::placeholder {
            color: var(--Text-sample);
          }

          &:focus {
            border: 1px solid var(--Personal-colors-main);
            background: var(--Personal-colors-White);
          }
        }
      }
    }

    .platform__btn {
      border-radius: 15px;
      background: var(--Personal-colors-White);
      color: var(--Personal-colors-black);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 0.7;
      padding: 18px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);

      @media (max-width: 576px) {
        font-size: 12px;
        padding: 18px 5px;
      }

      &.check {
        color: var(--Personal-colors-White);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        // line-height: 1
        background: var(--Personal-colors-grey);
        border: none;
      }

      &:hover {
        background: rgba(189, 189, 189, 0.15);
      }

      &.active {
        color: var(--Personal-colors-White);
        background: var(
          --Gradients-Gradient-1,
          linear-gradient(45deg, #4772e6 23.91%, #8e54e9 75.06%)
        );
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
      }
    }
  }

  .next__btn {
    display: grid;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
      justify-content: unset;
    }
  }
}

.form_error {
  animation: shake 0.3s ease-in-out;

  &::placeholder {
    color: red !important;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
