.wrapper {
  display: grid;
  grid-template: 1fr / 1fr 0.5fr;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: calc(var(--margin-section-xl) / 2);
  margin-bottom: var(--margin-section-xl);
  align-items: start;

  @media (max-width: 992px) {
    margin-top: calc(var(--margin-section-lg) / 2);
    margin-bottom: var(--margin-section-lg);
    grid-template: none;
    grid-auto-flow: row;
    row-gap: 15px;
  }

  @media (max-width: 768px) {
    margin-top: calc(var(--margin-section-md) / 2);
    margin-bottom: var(--margin-section-md);
    justify-content: stretch;
    min-height: 70svh;
  }

  @media (max-width: 576px) {
    margin-top: calc(var(--margin-section-sm) / 2);
    margin-bottom: var(--margin-section-sm);
  }

  @media (max-width: 375px) {
    margin-top: calc(var(--margin-section-xs) / 2);
    margin-bottom: var(--margin-section-xs);
  }

  .cards {
    display: grid;
    grid-auto-flow: row;
    row-gap: 50px;
  }
}
