.wrapper {
  display: grid;
  grid-template: 1fr / 1fr 0.1fr;
  column-gap: 10px;
  justify-content: space-between;
  align-content: center;
  padding: 15px 30px;
  align-items: center;
  border-radius: 12px;
  // border: 1px solid var(--Containers);
  box-shadow: 0 0 2px var(--Containers);
  background: var(--Personal-colors-White);
  cursor: pointer;
  height: 80px;

  @media (max-width: 992px) {
    padding: 20px 25px;
    // border: none;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  }

  &.active__account {
    span,
    p {
      color: var(--Personal-colors-main) !important;
    }

    box-shadow: 0 0 2px var(--Personal-colors-main);
    @media (max-width: 992px) {
      box-shadow: 0px 0.5px 10px 0.5px var(--Personal-colors-main);
    }
  }
}

.content {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: center;

  .card_name {
    color: var(--Personal-color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
  }

  span {
    color: var(--Containers);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.circle_wrapper {
  display: grid;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 0 0.2px #000;
  }

  .outer {
    padding: 3px;

    .inner {
      width: 16px;
      height: 16px;
    }
  }
  &.active {
    .outer {
      box-shadow: 0 0 0 0.2px var(--Personal-colors-main);
    }
    .inner {
      box-shadow: none;
      background: var(--Gradients-Gradient-1);
    }
  }
}
