.wrapper {
  color: var(--Personal-colors-black);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  p {
    color: var(--Personal-colors-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  button {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    position: relative;
  }
}

.menu {
  margin-top: 5px;
  display: block;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 5px;
  overflow: hidden;
  z-index: 1;

  li {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;

    &:hover {
      background: rgba(189, 189, 189, 0.25);
      border-radius: 8px;
    }
  }
}
