.why__wrapper {
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.why__title {
  color: var(--Personal-colors-black);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

.button {
  background: radial-gradient(
      419.34% 136.52% at 0% 100%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(125, 117, 117, 0) 100%
    ),
    linear-gradient(90deg, #ff2f66 0%, rgba(254, 110, 48, 0.99) 100%);
}
