.wallet {
    margin-right: 30px;

    border-radius: 12px;
    border: 1px solid var(--Gradient-1, #4772E6);
    background: var(--Gradient-1, linear-gradient(93deg, #4772E6 2.37%, #8E54E9 52.62%));
    transition: background 0.3s ease, color 0.3s ease; /* Плавная смена цвета */
    color: #fff;
   
    cursor: pointer;
    position: relative;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    button {
      min-width: 200px;
      height: auto;
      padding: 12px 10px;
      display: grid;
      column-gap: 10px;
      grid-template-columns: 1fr auto; /* Одна часть для текста, вторая для иконки */
      align-items: center;

      svg{
        margin-left: 10px;
      }


      span{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
  }

  p {
      margin: 0;
      text-align: center;
  }
 }


.active__wallet{
  border: 1px solid var(--Gradient-1, #4772E6);
  background: rgba(255, 255, 255, 0.25);
  color: var(--first-text);
  transition: background 0.3s ease, color 0.3s ease; /* Плавная смена цвета */


  svg{
    border-left: rgba(255, 255, 255, 0.25);
  }

}



.menu {
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 200px;
    border-radius: 20px;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.75;
    color: var(--first-text);

    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 12px;
      cursor: pointer;

  
      &:hover {
        background-color: #f0f0f0;
        color: var(--Gradient-1, linear-gradient(93deg, #4772E6 2.37%, #8E54E9 52.62%));
      }
    }
  }