.wallet {
  $BR: 12px;
  border-radius: $BR;
  // border: 1px solid var(--Personal-colors-main);
  background: var(--Gradients-Gradient-1);
  transition:
    background 0.3s ease,
    color 0.3s ease; /* Плавная смена цвета */
  color: var(--Personal-colors-White);

  cursor: pointer;
  position: relative;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  button {
    min-width: 200px;
    height: auto;
    padding: 12px 10px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr auto;
    align-items: center;

    svg {
      margin-left: 10px;
    }

    span {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    p {
      text-align: center;
    }
  }

  .menu {
    margin-top: 5px;
    display: block;
    position: absolute;
    left: 0;
    background-color: var(--Personal-colors-White);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 200px;
    border-radius: 20px;

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.75;
    color: var(--Personal-colors-black);
    overflow: hidden;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 12px;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
          color: var(--Gradients-Gradient-1);
        }
      }
    }
  }

  &.active__wallet {
    color: var(--Personal-colors-black);
    // border: 1px solid var(--Personal-colors-main);
    // background: rgba(255, 255, 255, 0.25);
    // transition:
    //   background 0.3s ease,
    //   color 0.3s ease; /* Плавная смена цвета */

    //   background: none;
    //   background-clip: padding-box;
    //   $border-mass : 1px;

    //   &:before {
    //     content: '';
    //     position: absolute;
    //     top: 0; right: 0; bottom: 0; left: 0;
    //     z-index: -1;
    //     margin: 1px;
    //     border-radius:  calc(var(--borderRadius) - $border-mass); /* !importanté */
    //     background: var(--Personal-colors-White);
    // }

    // &:after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   z-index: -2; /* Псевдо-элемент будет под градиентным фоном */
    //   // margin: 10px; /* !importanté */
    //   border-radius: var(--borderRadius); /* !importanté */
    //   background: var(--Gradients-Gradient-1);
    // }

    svg {
      border-left: rgba(255, 255, 255, 0.25);
    }
  }
}
