.wrapper {
  display: grid;
  grid-auto-flow: row;
  padding: 15px 20px;
  row-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    padding: 0;
    border-bottom: 0;
    grid-template: repeat(3, min-content) 1fr / 1fr;
    height: 100%;

    &.no__chat {
      grid-template: repeat(2, min-content) 1fr / 1fr;
    }
  }

  .subcard {
    display: grid;
    align-items: center;
    position: relative;

    .platform__icon {
      position: absolute;
      top: 0px;
      left: 0px;

      svg {
        width: 15px;
        height: 15px;
      }
    }

    &.grid__active {
      grid-template: 1fr / 12fr 4fr 1fr;

      @media (max-width: 992px) {
        grid-template: 1fr / 8fr 4fr 1fr;
      }

      @media (max-width: 768px) {
        grid-template: unset;
      }
    }

    &.grid {
      grid-template: 1fr / 12fr 5fr;
      @media (max-width: 992px) {
        grid-template: 1fr / 8fr 5fr;
      }
      @media (max-width: 768px) {
        grid-template: unset;
      }
    }

    &__left {
      display: grid;
      // grid-template: 1fr / 0.7fr 2fr 1.1fr;
      grid-template: 1fr / 0.7fr 2fr 1.1fr;
      padding-right: 20px;
      white-space: nowrap;
      height: 150px;

      @media (max-width: 992px) {
        // grid-template: 1fr / 0.7fr 2fr;
        grid-template: 1fr / 0.7fr 2fr;
        height: unset;
      }

      @media (max-width: 768px) {
        padding-right: 0;
        grid-template: 1fr / repeat(2, 1fr);
      }

      &__description {
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        align-content: center;
        row-gap: 5px;
        border-right: 1px solid var(--Card-separator);
        padding-right: 10px;

        @media (max-width: 768px) {
          padding-right: 0;
          border-right: none;
        }

        &__logo {
          display: grid;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          img {
            border-radius: 50%;
            border: 1px solid var(--Personal-colors-main);
            width: 64px;
            height: 64px;
          }
        }

        &__rate {
          display: grid;
          align-items: center;
          justify-content: center;
        }

        &__title {
          display: grid;
          grid-auto-flow: row;
          row-gap: 8px;
          text-align: center;

          p {
            color: var(--Personal-colors-black);
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            color: #9e9e9e;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &__info {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);

        @media (max-width: 992px) {
          grid-template: repeat(2, 1fr) / 1fr;
        }

        .info__column {
          display: grid;
          grid-template: repeat(2, 1fr) / 1fr;
          align-items: center;
          align-content: center;
          border-right: 1px solid var(--Card-separator);
          padding: 0 10px;

          @media (max-width: 768px) {
            padding: 0;
            border-right: none;
            grid-template: unset;
            grid-auto-flow: row;
          }

          .info__wrapper {
            display: grid;
            height: 100%;
            padding-top: 15px;
            align-items: flex-start;

            @media (max-width: 992px) {
              padding: 10px 0 !important;
              border-bottom: 1px solid var(--Card-separator);
            }

            &.top {
              padding-top: 0px;
              padding-bottom: 15px;
              border-bottom: 1px solid var(--Card-separator);
              align-items: flex-end;

              &.first {
                padding-top: 0 !important;
              }
            }

            &.last {
              border-bottom: none;
              padding-bottom: 0 !important;
            }

            div {
              display: grid;
              grid-auto-flow: row;
              row-gap: 10px;
              text-align: center;

              @media (max-width: 992px) {
                grid-template: unset;
                grid-auto-flow: column;
                column-gap: 10px;
                justify-content: space-between;
                text-align: unset;
              }

              @media (max-width: 768px) {
                grid-template: repeat(2, 1fr) / 1fr;
                row-gap: 10px;
                justify-content: unset;
                text-align: center;
              }

              p {
                color: rgba(0, 0, 0, 0.4);
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 1;
              }
              span {
                color: rgba(0, 0, 0, 0.85);
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 1;
                // white-space: wrap;
              }
            }
          }
        }
      }

      &__data {
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr;
        border-radius: 10px;
        background: rgba(15, 105, 201, 0.1);
        padding: 10px 12px;
        margin-left: 10px;

        svg {
          width: 14px;
          height: auto;
        }

        &__row {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          justify-content: space-between;
        }

        .info {
          display: grid;
          grid-auto-flow: row;
          row-gap: 10px;
          align-items: center;

          div {
            display: grid;
            align-items: center;
            justify-content: center;
          }

          p {
            color: rgba(0, 0, 0, 0.6);
            text-align: center;
            font-size: 8px;
            font-style: normal;
            font-weight: 600;
            line-height: 1;
          }

          span {
            color: var(--Personal-colors-black);
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
          }
        }

        &__middle {
          display: grid;
          grid-auto-flow: column;
          column-gap: 5px;
          align-items: center;
          justify-content: center;

          div {
            display: grid;
            align-items: center;
            justify-content: center;

            svg {
              height: 15px;
              width: auto;
            }
          }
        }
      }
    }

    &__cancel,
    &__completed,
    &__accepted,
    &__moderation,
    &__posted,
    &__waiting,
    &__agreed {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      text-align: center;
      align-content: center;
      row-gap: 10px;
      // padding: 0 20px;
      height: 100%;

      p {
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;

        @media (max-width: 768px) {
          font-size: 12px;
        }
      }

      span {
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;

        small {
          font-weight: 600;
        }
      }
    }

    &__moderation {
      div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        align-items: center;
        text-align: center;
      }
    }

    &__posted {
      &__title {
        display: grid;
        grid-auto-flow: row;
        row-gap: 5px;
      }

      &__buttons {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
        row-gap: 5px;

        &__top {
          // display: grid;
          // grid-template: 1fr / 1fr 1fr;
          display: flex;
          column-gap: 5px;
        }
      }
    }

    &__waiting {
      div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 15px;
      }
    }

    &__agreed {
      div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 15px;
        div {
          display: grid;
          grid-auto-flow: row;
          row-gap: 5px;
        }
      }
    }

    &__chat {
      display: grid;
      align-content: center;
      justify-content: flex-end;
      height: 100%;

      @media (max-width: 768px) {
        justify-content: unset;
      }

      button {
        border-radius: 12px;
        background: var(--primary-gradient);
        box-shadow: 0px 3px 6px 0px rgba(43, 90, 212, 0.42);
        justify-content: flex-end;
        padding: 30px 8px 30px 10px;

        p {
          color: var(--Personal-colors-White);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
        }

        @media (max-width: 768px) {
          justify-content: center;
          height: 40px;
          margin: 0;
          padding: 0;

          svg {
            height: 18px;
          }
        }
      }
    }
  }
}

.channel__data__md {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;

  padding: 10px 12px;
  border-radius: 10px;
  background: rgba(15, 105, 201, 0.1);

  .channel__content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 15px;
  }

  .channel__content[data-state="open"] {
    margin-top: 15px;
  }

  .channel__data_row {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 50px;
    position: relative;
    justify-items: center;
    width: 100%;

    .arrow {
      display: grid;
      position: absolute;
      top: 5px;
      right: 15px;
    }

    .data {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      column-gap: 10px;
      justify-content: center;
      align-items: center;

      div {
        display: grid;
        justify-content: center;

        svg {
          width: auto;
          height: 16px;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
      }

      span {
        color: var(--Personal-colors-black);
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
      }
    }
  }

  .channel__data_middle {
    display: grid;
    justify-content: center;

    .middle {
      display: grid;
      grid-template: 1fr / 1fr 50fr 1fr;
      column-gap: 6px;
      justify-items: center;
      align-items: center;
      padding: 0 80px;

      div {
        display: grid;
        justify-content: center;

        svg {
          width: auto;
          height: 24px;
        }
      }
    }
  }
}

.channel__xs {
  display: grid;
  grid-auto-flow: row;

  .channel__data__xs {
    display: grid;
    grid-auto-flow: row;

    padding: 10px 12px;
    border-radius: 10px;
    background: rgba(15, 105, 201, 0.1);

    .channel__content {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;
      padding-top: 15px;
    }

    .channel__content[data-state="open"] {
      margin-top: 15px;
    }

    .channel__data_row {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      position: relative;
      justify-items: center;

      .arrow {
        display: grid;
        position: absolute;
        top: 5px;
        right: 15px;
      }

      .data {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        column-gap: 10px;
        justify-content: center;
        align-items: center;

        div {
          display: grid;
          justify-content: center;

          svg {
            width: auto;
            height: 16px;
          }
        }

        p {
          color: rgba(0, 0, 0, 0.6);
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 1;

          @media (max-width: 576px) {
            font-size: 12px;
          }
        }

        span {
          color: var(--Personal-colors-black);
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 1;
        }
      }
    }

    .channel__data_middle {
      display: grid;
      justify-content: center;

      .middle {
        display: grid;
        grid-template: 1fr / 1fr 10fr 1fr;
        column-gap: 6px;
        justify-items: center;
        align-items: center;
        padding: 0 40px;

        div {
          display: grid;
          justify-content: center;

          svg {
            width: auto;
            height: 24px;
          }
        }
      }
    }
  }

  // .channel__data__xs__bottom {
  //   display: grid;
  //   grid-auto-flow: column;
  //   column-gap: 10px;
  //   justify-content: center;
  //   align-items: center;
  //   padding: 10px;

  //   p {
  //     color: var(--Personal-colors-main);
  //     font-size: 10px;
  //     font-style: normal;
  //     font-weight: 600;
  //     line-height: normal;
  //   }
  // }
}
