.wrapper {
  min-height: var(--cards-list-height);

  .cards {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;

    @media (max-width: 768px) {
      row-gap: 10px;
    }

    .show_more {
      margin: 10px auto;
    }
  }
}
