.partners {
  display: grid;
  text-align: center;
  align-items: center;
  grid-auto-flow: row;
  row-gap: var(--row-gap-title-xl);
  margin: var(--margin-section-xl) 0;

  @media (max-width: 992px) {
    row-gap: var(--row-gap-title-lg);
    margin: var(--margin-section-lg) 0;
  }

  @media (max-width: 768px) {
    row-gap: var(--row-gap-title-md);
    margin: var(--margin-section-md) 0;
  }

  @media (max-width: 576px) {
    row-gap: var(--row-gap-title-sm);
    margin: var(--margin-section-sm) 0;
  }

  @media (max-width: 375px) {
    row-gap: var(--row-gap-title-xs);
    margin: var(--margin-section-xs) 0;
  }

  .bottom {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    color: var(--Personal-colors-black);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: var(--font-size-title-secondary-xl);

    @media (max-width: 992px) {
      font-size: var(--font-size-title-secondary-lg);
    }

    @media (max-width: 768px) {
      font-size: var(--font-size-title-secondary-md);
    }

    @media (max-width: 576px) {
      font-size: var(--font-size-title-secondary-sm);
    }

    @media (max-width: 375px) {
      font-size: var(--font-size-title-secondary-xs);
    }
  }

  &__block {
    z-index: -1;
    width: 100%;
    padding: 20px 0;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateX(30%);
      opacity: 0.35;
    }
  }
}
