.button{
    border-radius: 8px;
    border: 1px solid #4772E6;
    padding: 10px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--Gradients-Gradient-1);
    background: none;

    div{
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
        justify-content: center;

    }
}