.customer {
  margin: 0 auto 200px auto;

  &__title {
    color: var(--Personal-colors-black);
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    font-size: var(--font-size-title-main-xl);
    padding: 0 var(--container-padding-xl-side);

    max-width: var(--container-width);
    margin: 0 auto;
    padding-bottom: var(--row-gap-content-xl);

    @media (max-width: 992px) {
      padding: 0 var(--container-padding-lg-side);
      font-size: var(--font-size-title-main-lg);
      padding-bottom: var(--row-gap-content-lg);
    }

    @media (max-width: 768px) {
      padding: 0 var(--container-padding-md-side);
      font-size: var(--font-size-title-main-md);
      padding-bottom: var(--row-gap-content-md);
    }

    @media (max-width: 576px) {
      padding: 0 var(--container-padding-sm-side);
      font-size: var(--font-size-title-main-sm);
      text-align: center;
      padding-bottom: var(--row-gap-content-sm);
    }

    @media (max-width: 375px) {
      padding: 0 var(--container-padding-xs-side);
      font-size: var(--font-size-title-main-xs);
      padding-bottom: var(--row-gap-content-xs);
    }
  }
}
