.payment__data {
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  border-radius: 40px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  background: var(--Personal-colors-White);
  padding: 50px;

  @media (max-width: 992px) {
    border-radius: 40px;
    padding: 40px;
  }

  @media (max-width: 768px) {
    border-radius: 30px;
    padding: 30px;
  }

  @media (max-width: 576px) {
    border-radius: 20px;
    padding: 15px;
  }
}

.block {
  display: grid;
  grid-auto-flow: row;
  row-gap: 40px;
}

.ammount {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;

  .title {
    color: var(--Personal-colors-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  .error {
    &::placeholder {
      color: red;
    }
  }

  .card_name {
    color: var(--Personal-colors-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
  }
  span {
    color: #ccc;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
  }

  div {
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(20px, 30px);
    gap: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: var(--Personal-colors-White);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 992px) {
      font-size: 16px;
    }

    // @media (max-width: 576px) {
    //   font-size: 12px;
    // }
    input {
      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.payment {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;

  div {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;

    p {
      color: var(--Sub-text, #4d4d4d);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 1;
      white-space: nowrap;
      text-align: end;
    }

    span {
      color: var(--Sub-text, #4d4d4d);
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

.accept {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  input {
    cursor: pointer;
  }

  p {
    color: var(--Personal-colors-black);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    a {
      color: #44c4ff;
    }
  }
}

.button {
  display: grid;
}
