.wrapper {
  display: grid;
  grid-template: 1fr / var(--sidebar-width) auto;
  gap: 20px;
  padding: 0px var(--left-padding-header);
  align-items: center;
  height: var(--header-height-xl);
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 1rem;
  transition: transform 0.8s ease;
  transform: translateY(0);
  z-index: 50;

  &.hidden {
    transform: translateY(-150%);

    @media (max-width: 768px) {
      transform: translateY(0);
    }
  }

  &.visible {
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    height: var(--header-height-md);
    top: 0;
    display: block;
    padding: 0;
  }

  @media (max-width: 576px) {
    height: var(--header-height-sm);
  }

  @media (max-width: 375px) {
    height: var(--header-height-xs);
  }

  .dropdown {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px
      color-mix(in srgb, var(--Personal-colors-main), transparent 70%);
    border: 1px solid
      color-mix(in srgb, var(--Personal-colors-main), transparent 70%);
    height: var(--sidebar-width);
    width: var(--sidebar-width);
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .header {
    height: 100%;
    display: grid;
    padding: 0 20px;
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    box-shadow: 0px 2px 5px 0px
      color-mix(in srgb, var(--Personal-colors-main), transparent 70%);
    backdrop-filter: blur(8px);
    border: 1px solid
      color-mix(in srgb, var(--Personal-colors-main), transparent 70%);

    @media (max-width: 768px) {
      border-radius: 0;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 1px 5px 0px
        color-mix(in srgb, var(--Personal-colors-main), transparent 50%);
      border: none;
    }

    .navigation {
      display: grid;
      grid-auto-flow: column;
      column-gap: 30px;
      align-items: center;

      @media (max-width: 768px) {
        column-gap: 16px;
      }
    }

    .profile {
      display: grid;
      grid-auto-flow: column;
      column-gap: 20px;
      align-items: center;

      .separator {
        height: 100%;
        border-right: 0.5px solid var(--Inside-container);
      }
    }
  }
}
