.wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 50px;
  column-gap: 30px;
  margin-bottom: 150px;
}

.cards {
  display: grid;
  grid-auto-flow: row;
  row-gap: 50px;
}
