.menu {
  max-width: 596px !important;
  padding: 0 !important;

  @media (max-width: 596px) {
    width: 100% !important;
  }

  &__content {
    &.safari {
      transform: translate(0, -1rem);

      @media (max-width: 768px) {
        width: 100%;
        transform: translate(0, 0);
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .switcher {
    margin: 15px 10px;

    li {
      padding: 12px 10px;

      p {
        font-size: 16px;
      }
    }
  }

  &__accordion {
    display: grid;
    grid-auto-flow: row;
    row-gap: 8px;
    padding: 0 10px;
  }

  &__bottom {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 120px;

    .wallet__block {
      padding: 20px;

      @media (max-width: 576px) {
        padding: 0px 15px 10px 15px;
      }
    }

    .accordion__block {
      display: grid;
      grid-auto-flow: row;
      row-gap: 5px;
      margin-top: 15px;

      .accordion__title {
        color: var(--secondary-text);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
        padding: 0 25px;
      }
    }
  }

  &__top {
    display: grid;
    padding: 20px;
    align-content: center;
    border-bottom: 1px solid var(--Inside-container);
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    position: relative;

    height: var(--header-height-xl);

    @media (max-width: 992px) {
      height: var(--header-height-lg);
    }

    @media (max-width: 768px) {
      height: var(--header-height-md);
    }

    @media (max-width: 576px) {
      height: var(--header-height-sm);
    }

    @media (max-width: 375px) {
      height: var(--header-height-xs);
    }
  }
}
