.button {
  padding: 10px 15px;
  p {
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 576px) {
      font-size: var(--font-size-text-accent-xs);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    stroke: #fff;
  }

  &.orange {
    background: var(--Gradients-Gradient-2) !important;
  }
}
