.wrapper {
  display: grid;
  grid-auto-flow: row;
  position: relative;
  overflow: hidden;

  .no_messages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    p {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      line-height: normal;
      color: var(--Personal-colors-White);
    }
  }

  .arrow__down {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--Personal-colors-White);
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    bottom: 70px;
    right: 10px;
  }

  .check {
    display: grid;
    grid-template: 1fr min-content min-content / 1fr;
    overflow-y: scroll;
    align-items: end;
    padding: 0 15px;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    .all__messages {
      display: grid;
      grid-auto-flow: row;

      .skeleton_wrapper {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        padding-bottom: 10px;
      }

      .messages_wrapper {
        display: grid;
        grid-auto-flow: row;
        row-gap: 15px;
      }
    }
  }

  .row__message {
    display: flex;
    position: relative;

    .appendix {
      position: absolute;
      bottom: 0;
      svg {
        width: 7px;
        height: 17px;
      }
    }

    &.receiver {
      justify-content: start;
      --start-color: #f0f4f8;

      .appendix {
        left: -6.5px;
        transform: scaleX(-1);
      }

      .message {
        border-radius: 10px 20px 20px 0;
        background: var(--start-color);
        color: var(--Personal-colors-black);
      }

      &.less {
        .message {
          border-radius: 10px 20px 20px 10px;
        }
      }
    }

    &.sender {
      justify-content: end;
      --start-color: hsla(254, 76%, 64%);

      .appendix {
        right: -6.5px;
      }

      .message {
        border-radius: 20px 10px 0 20px;
        background: var(--start-color);
        color: var(--Personal-colors-White);
      }

      &.less {
        .message {
          border-radius: 20px 10px 10px 20px;
        }
      }
    }

    &.more {
      margin-bottom: 10px;
    }
    &.less {
      margin-bottom: 3px;
    }
  }

  .message {
    display: grid;
    grid-auto-flow: row;
    padding: 10px 80px 10px 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    max-width: 80%;
    row-gap: 5px;
    overflow-wrap: anywhere;
    position: relative;

    .time {
      position: absolute;
      display: grid;
      grid-auto-flow: column;
      align-content: center;
      align-items: center;
      column-gap: 5px;
      bottom: 5px;
      right: 15px;

      span {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        opacity: 0.5;
      }

      .read {
        --start-color: white;
        svg {
          height: 10px;
          width: auto;
        }
      }
    }
  }

  .date {
    display: grid;
    justify-content: center;
    padding: 5px;

    p {
      color: var(--Personal-colors-White);
      padding: 5px 10px;
      background: rgba(71, 113, 230, 0.5);
      border-radius: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 1;
    }

    .absolute {
      position: absolute;
      top: 20px;
      left: 0;
    }
  }
}

.date_absolute {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;

  p {
    color: var(--Personal-colors-White);
    padding: 5px 10px;
    background: rgba(71, 113, 230, 0.5);
    border-radius: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
  }
}

.end {
  height: 60px;
}

.start {
  height: 10px;
}

.wrapper__bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template: 1fr / minmax(10px, auto) 1fr minmax(10px, auto);
  align-items: end;
  column-gap: 10px;
  padding: 10px;
  width: 100%;

  button {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--Personal-colors-White);
    border-radius: 50%;
    width: 40px;
    height: 40px;

    svg {
      width: 20px;
      height: auto;
    }

    &:hover {
      background-color: #999;
    }
  }

  .input {
    padding: 8px 16px;
    align-items: center;
    justify-content: stretch;
    border-radius: 10px;
    background: var(--Blue-Grey-Blue-Grey-050, #f0f4f8);
    width: 100%;
    height: 100%;
    position: relative;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    div {
      width: inherit;
      word-break: break-all;
      outline: none;
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 2px;
        background-color: #ccc;
        border-radius: 5px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #999;
        border-radius: 5px;
      }
    }

    span {
      position: absolute;
      pointer-events: none;
      top: 8px;
      left: 20px;
      color: #999;
    }
  }
}
