.wrapper {
  display: grid;
  grid-auto-flow: row;

  border-radius: 15px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
  background: var(--Personal-colors-White);
  background: rgba(255, 255, 255, 0.5);
  position: relative;

  .channel {
    display: grid;
    grid-auto-flow: row;
    padding: 15px;
    row-gap: 20px;

    @media (max-width: 768px) {
      row-gap: 12px;
      padding-bottom: 0px;
    }

    .description {
      color: var(--Subtitle-text);
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      word-break: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      @media (max-width: 576px) {
        font-weight: 500;
      }
    }

    &__top {
      display: grid;
      grid-template: 1fr / 1fr 3fr 2fr 1fr;
      column-gap: 20px;

      @media (max-width: 992px) {
        grid-template: 1fr / 1fr 3fr 2fr;
      }

      @media (max-width: 768px) {
        align-items: center;
      }

      .logo {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        justify-content: center;
        justify-items: center;

        &__img_wrapper {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          border: 0.5px solid var(--Personal-colors-main);

          @media (max-width: 768px) {
            width: 60px;
            height: 60px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .rate {
          svg {
            width: 80px;
          }
        }
      }

      .column__data {
        display: grid;
        grid-auto-flow: row;
        row-gap: 15px;
        padding: 15px 30px;
        border-radius: 10px;
        background: rgba(15, 105, 201, 0.1);

        @media (max-width: 992px) {
          display: none;
        }

        .channel__data_row {
          display: grid;
          grid-template: 1fr / 1fr 1fr;
          column-gap: 50px;

          .data {
            display: grid;
            grid-auto-flow: row;
            row-gap: 10px;

            div {
              display: grid;
              justify-content: center;

              svg {
                height: 10px;
                width: auto;
              }
            }

            p {
              color: rgba(0, 0, 0, 0.6);
              text-align: center;
              font-size: 8px;
              font-style: normal;
              font-weight: 600;
              line-height: 0.75;
            }

            span {
              color: var(--Personal-colors-black);
              text-align: center;
              font-size: 10px;
              font-style: normal;
              font-weight: 500;
              line-height: 0.75;
            }
          }
        }

        .channel__data_middle {
          display: grid;
          grid-auto-flow: column;
          justify-items: center;
          align-items: center;

          div {
            display: grid;
            justify-content: center;

            svg {
              width: auto;
              height: 16px;
            }
          }
        }
      }

      .column__info {
        display: grid;
        grid-auto-flow: row;
        align-items: start;

        .info {
          display: grid;
          grid-auto-flow: row;
          row-gap: 10px;
          margin-top: 5px;

          .title {
            color: var(--Personal-colors-black);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @media (max-width: 576px) {
              font-weight: 500;
            }
          }

          .category {
            color: var(--Subtitle-text);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media (max-width: 576px) {
              font-weight: 400;
            }
          }
        }
      }

      .column__cross {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        align-content: center;
        justify-items: center;
        // align-items: center;
        text-align: center;

        .platform__icon {
          position: absolute;
          top: 10px;
          right: 10px;

          svg {
            width: 15px;
            height: 15px;
          }

          @media (max-width: 768px) {
            display: none;
          }
        }

        p {
          color: #000;
          text-align: center;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 0.75;

          @media (max-width: 768px) {
            font-size: 8px;
          }
        }

        .circle {
          display: grid;

          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          // background: conic-gradient(
          //   #4772e6 0% var(--percentage),
          //   transparent var(--percentage) 100%
          // );
          // border: 5px solid conic-gradient(
          //   #4772e6 0% var(--percentage),
          //   transparent var(--percentage) 100%
          // );

          border: 3px solid #4772e6;
          border-width: 50%;

          @media (max-width: 768px) {
            width: 50px;
            height: 50px;
          }

          span {
            color: var(--Personal-colors-main);
            font-size: var(--font-size-option-item-xl);
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media (max-width: 576px) {
              font-size: var(--font-size-option-item-sm);
            }
          }

          // &::after {
          //   content: "";
          //   width: 100%;
          //   height: 100%;
          //   background-color: transparent;
          //   position: absolute;
          //   z-index: -1;
          // //   border-radius: 50%;
          //   position: absolute;
          // //   clip: rect(0, 50px, 50px, 25px);
          //   border: 4px solid #d52121; // Цвет фона за дугой
          // }
        }
      }
    }
  }
}

// .circle {
//   width: 100px; // диаметр круга
//   height: 100px; // диаметр круга
//   border-radius: 50%; // делаем круг
//   border: solid 3px transparent; // толщина и цвет обводки
//   border-color: blue; // цвета обводки (верх, право, низ, лево)
//   transform: rotate(340.4deg); // преобразование для указанного процента
// }

.channel__data__md {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;

  padding: 10px 12px;
  border-radius: 10px;
  background: rgba(15, 105, 201, 0.1);

  .channel__content {
    display: grid;
    grid-auto-flow: row;
    row-gap: 15px;
  }

  .channel__content[data-state="open"] {
    margin-top: 15px;
  }

  .channel__data_row {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 50px;
    position: relative;
    justify-items: center;
    width: 100%;

    .arrow {
      display: grid;
      position: absolute;
      top: 5px;
      right: 15px;
    }

    .data {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      column-gap: 10px;
      justify-content: center;
      align-items: center;

      div {
        display: grid;
        justify-content: center;

        svg {
          width: auto;
          height: 16px;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 600;
        line-height: 0.75;
      }

      span {
        color: var(--Personal-colors-black);
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 0.75;
      }
    }
  }

  .channel__data_middle {
    display: grid;
    justify-content: center;

    .middle {
      display: grid;
      grid-template: 1fr / 1fr 50fr 1fr;
      column-gap: 6px;
      justify-items: center;
      align-items: center;
      padding: 0 80px;

      div {
        display: grid;
        justify-content: center;

        svg {
          width: auto;
          height: 24px;
        }
      }
    }
  }
}

.channel__xs {
  display: grid;
  grid-auto-flow: row;

  .channel__data__xs {
    display: grid;
    grid-auto-flow: row;

    padding: 10px 12px;
    border-radius: 10px;
    background: rgba(15, 105, 201, 0.1);

    .channel__content {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;
      padding-top: 15px;
    }

    .channel__content[data-state="open"] {
      margin-top: 15px;
    }

    .channel__data_row {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      position: relative;
      justify-items: center;

      .arrow {
        display: grid;
        position: absolute;
        top: 5px;
        right: 15px;
      }

      .data {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        column-gap: 10px;
        justify-content: center;
        align-items: center;

        div {
          display: grid;
          justify-content: center;

          svg {
            width: auto;
            height: 16px;
          }
        }

        p {
          color: rgba(0, 0, 0, 0.6);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 0.75;

          @media (max-width: 576px) {
            font-size: 12px;
          }
        }

        span {
          color: var(--Personal-colors-black);
          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 0.75;
        }
      }
    }

    .channel__data_middle {
      display: grid;
      justify-content: center;

      .middle {
        display: grid;
        grid-template: 1fr / 1fr 10fr 1fr;
        column-gap: 6px;
        justify-items: center;
        align-items: center;
        padding: 0 40px;

        div {
          display: grid;
          justify-content: center;

          svg {
            width: auto;
            height: 24px;
          }
        }
      }
    }
  }

  .channel__data__xs__bottom {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
      color: var(--Personal-colors-main);
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}
