.button {
  padding: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  > div {
    width: 20px;
    display: none;

    @media (max-width: 576px) {
      display: block;
    }

    > svg {
      width: 100%;
      height: auto;
    }
  }
}
