.wrapper {
  display: grid;
  grid-template:
    1fr / minmax(10vw, 15vw) minmax(10vw, 15vw) minmax(10vw, 15vw) minmax(
      10vw,
      15vw
    )
    minmax(20vw, 20vw);
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--Containers);
  background: var(--Personal-colors-White);
  // padding: 10px 0;
  font-weight: 600;
  font-size: 16px;

  padding: 10px 20px;
  column-gap: 15px;

  @media (max-width: 992px) {
    padding: 10px 15px;
    column-gap: 10px;
    font-size: 14px;
  }

  div {
    p {
      // padding: 10px 30px;
      // overflow: hidden;
      // text-overflow: ellipsis;
      padding: 10px 0;
      white-space: nowrap;
      color: var(--choosen-text);
      // padding-bottom: 10px;
      background: var(--Gradients-Gradient-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.info {
  border-right: 1px solid #d9d9d9;
}
