.wrapper {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr 1.5fr;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  background: var(--Personal-colors-White);
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;

  @media (max-width: 992px) {
    padding: 10px 0;
    column-gap: 10px;
    font-size: 14px;
  }

  div {
    padding: 10px;
    white-space: nowrap;
    color: var(--choosen-text);
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: normal;
  }
}

.info {
  border-right: 1px solid #d9d9d9;
}
