.wrapper {
  display: grid;
  grid-template: 1fr/ 0.9fr 1fr;
  align-items: center;
}

.wrapper__row {
  display: grid;
  grid-auto-flow: row;
  row-gap: 15px;
  align-items: center;

  .left {
    p {
      padding-left: 10px;
    }
  }
}

.filter__wrapper {
  grid-template: 1fr/ 1fr 2fr;
  column-gap: 10px;

  @media (max-width: 768px) {
    grid-template: 1fr / 1fr;
  }

  p {
    color: var(--Sub-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  span,
  li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
  }
}

.left {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  justify-content: start;
}
