.card {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr 40px / 1fr;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  min-height: 340px;

  .channel {
    display: grid;
    grid-auto-flow: row;
    padding: 15px;
    row-gap: 20px;

    &__top {
      display: grid;
      grid-template: 1fr / min-content 1fr min-content;
      column-gap: 20px;

      .column__info {
        display: grid;
        grid-auto-flow: row;
        align-items: start;

        .info {
          display: grid;
          grid-auto-flow: row;
          row-gap: 12px;
          margin-top: 5px;
        }
        .rating {
          display: grid;
          grid-auto-flow: column;
          column-gap: 5px;
          justify-content: start;
        }
      }

      .column__parameters {
        display: grid;
        grid-auto-flow: column;
        column-gap: 10px;
      }
    }
    &__description {
      display: grid;
      grid-auto-flow: row;
      row-gap: 5px;
    }
  }
}
