.open {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--Personal-colors-main);
    // overflow-wrap: break-word;
  }

  .range {
    font-size: 12px;
  }
}

.calendar {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-radius: 25px;
  background: var(--Personal-colors-White);

  .top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px; /* 50% */
      color: var(--Personal-colors-main);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .bottom {
    display: grid;
    grid-auto-flow: row;
    row-gap: 20px;
    align-items: center;
    justify-content: stretch;

    .confirm {
      padding: 10px;
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.advDate {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: orange;
    border-radius: 50%;
  }
}

.disabledDate {
  cursor: none;
  pointer-events: none;
  color: var(--Text-sample);
}
