.navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);

  &__item {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
  }

  &__active {
    background: #fff;
  }
}
