.open {
  border-radius: 12px;
  border: 1px solid var(--Containers);
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: center;

  p {
    color: var(--Sub-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.modalContent {
  display: grid;
  width: 50vh;
  align-items: center;
  grid-auto-flow: row;
  row-gap: 25px;
  padding: 35px;
  border-radius: 25px;

  .top {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      color: var(--Personal-colors-main);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
