.subcard {
  display: grid;
  // column-gap: 5px;
  align-items: center;

  &.grid__active {
    grid-template: 1fr / 12fr 6fr 1fr;
  }

  &.grid {
    grid-template: 1fr / 12fr 7fr;
  }

  &__left {
    display: grid;
    grid-template: 1fr / 0.8fr 0.8fr 0.8fr 1fr;
    margin-right: 5px;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    padding: 10px 0;
    white-space: nowrap;

    &__description {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      align-content: center;
      row-gap: 10px;
      border-right: 1px solid var(--Card-separator);

      &__logo {
        display: grid;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 50%;
          border: 1px solid var(--Personal-colors-main);
          width: 64px;
          height: 64px;
        }
      }

      &__rate {
        display: grid;
        align-items: center;
        justify-content: center;
      }

      &__title {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        text-align: center;

        p {
          color: var(--Personal-colors-black);
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 0.75;
        }

        span {
          color: #9e9e9e;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 0.75;
        }
      }
    }

    &__info {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      align-content: center;
      row-gap: 10px;
      border-right: 1px solid var(--Card-separator);
      padding: 0 20px;

      &__top {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--Card-separator);
      }

      div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 20px;
        text-align: center;

        p {
          color: var(--Personal-colors-black);
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 0.75;
        }

        span {
          color: var(--Personal-colors-black);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 0.75;
        }
      }
    }

    &__data {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;
      border-radius: 10px;
      background: rgba(15, 105, 201, 0.1);
      padding: 15px 30px;
      margin: 0 10px;

      svg {
        width: 14px;
        height: auto;
      }

      &__row {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
      }

      .info {
        display: grid;
        grid-auto-flow: row;
        row-gap: 10px;
        align-items: center;

        div {
          display: grid;
          align-items: center;
          justify-content: center;
        }

        p {
          color: rgba(0, 0, 0, 0.6);
          text-align: center;
          font-size: 8px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        span {
          color: var(--Personal-colors-black);
          text-align: center;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      &__middle {
        display: grid;
        grid-auto-flow: column;
        column-gap: 5px;
        align-items: center;
        justify-content: center;

        div {
          display: grid;
          align-items: center;
          justify-content: center;

          svg {
            height: 15px;
            width: auto;
          }
        }
      }
    }
  }

  &__cancel {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0 50px;
    height: 100%;

    p {
      padding: 0 20px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    span {
      padding: 0 30px;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__completed {
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    padding: 0 50px;
    height: 100%;

    p {
      padding: 0 30px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 0.75;
    }
  }

  &__accepted {
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    text-align: center;
    row-gap: 10px;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    padding: 0 50px;
    height: 100%;

    p {
      padding: 0 30px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 0.75;
    }

    span {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__moderation {
    display: grid;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    align-items: center;
    padding: 0 50px;
    height: 100%;

    div {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
      align-items: center;
      text-align: center;
      justify-content: space-between;

      p {
        padding: 0 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 0.75;
      }

      span {
        padding: 0 30px;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        small {
          font-weight: 600;
        }
      }
    }
  }

  &__posted {
    display: grid;
    grid-auto-flow: row;
    row-gap: 15px;
    align-items: center;
    align-content: center;
    padding: 0 50px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    height: 100%;

    &__title {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;

      p {
        padding: 0 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 0.75;
      }

      span {
        padding: 0 30px;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 0.75;
      }
    }

    &__buttons {
      display: grid;
      grid-auto-flow: row;
      row-gap: 5px;

      &__top {
        display: grid;
        // grid-template: 1fr / 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 5px;
      }
    }
  }

  &__waiting {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 0 50px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    height: 100%;

    div {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;

      p {
        padding: 0 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  &__agreed {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 0 50px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    height: 100%;

    div {
      display: grid;
      grid-auto-flow: row;
      row-gap: 15px;

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      div {
        display: grid;
        grid-auto-flow: row;
        row-gap: 5px;
      }
    }
  }

  &__channel_agreed {
    display: grid;
    align-items: center;
    align-content: center;
    padding: 0 50px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    height: 100%;

    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__chat {
    display: grid;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid var(--Card-separator);
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
