name: Deploy to Amazon EKS with Docker Hub

on:
  push:
    branches:
      - main

env:
  AWS_REGION: eu-north-1
  EKS_CLUSTER_NAME: Blogix2-prod
  K8S_NAMESPACE: default
  DOCKER_IMAGE: abddssh/advblog-frontend
  DEPLOYMENT_NAME: frontend-deployment
  CONTAINER_NAME: adv-blog-front

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: echo "TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Debug build args
        run: |
          echo "VITE_BASE_URL: ${{ secrets.VITE_BASE_URL }}"
          echo "VITE_BASE_WS_URL: ${{ secrets.VITE_BASE_WS_URL }}"
          echo "VITE_BASE_DIDOX_URL: ${{ secrets.VITE_BASE_DIDOX_URL }}"
          echo "VITE_PUBLIC_OFFER_FILE_URL: ${{ secrets.VITE_PUBLIC_OFFER_FILE_URL }}"
          echo "VITE_SERVICE_RULES_FILE_URL: ${{ secrets.VITE_SERVICE_RULES_FILE_URL }}"

      - name: Build and push Docker image
        run: |
          docker build \
            --build-arg VITE_BASE_URL="${{ secrets.VITE_BASE_URL }}" \
            --build-arg VITE_BASE_WS_URL="${{ secrets.VITE_BASE_WS_URL }}" \
            --build-arg VITE_BASE_DIDOX_URL="${{ secrets.VITE_BASE_DIDOX_URL }}" \
            --build-arg VITE_PUBLIC_OFFER_FILE_URL="${{ secrets.VITE_PUBLIC_OFFER_FILE_URL }}" \
            --build-arg VITE_SERVICE_RULES_FILE_URL="${{ secrets.VITE_SERVICE_RULES_FILE_URL }}" \
            -t $DOCKER_IMAGE:${TAG} .
          docker push $DOCKER_IMAGE:${TAG}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Update kubeconfig for EKS
        run: aws eks update-kubeconfig --name ${{ env.EKS_CLUSTER_NAME }} --region ${{ env.AWS_REGION }}

      - name: Update image in Kubernetes
        run: |
          kubectl set image deployment/${DEPLOYMENT_NAME} \
            ${CONTAINER_NAME}=${DOCKER_IMAGE}:${TAG} \
            -n $K8S_NAMESPACE
