.subtypes{
    margin-bottom: 30px;

    ul{
        display: grid;
        grid-auto-flow: column;
        column-gap: 25px;
        justify-content: start;
        align-items: center;

        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        line-height: 0.75;
        color: var(--Personal-colors-black);
    }

    li{
        text-align: center;
        padding: 10px;
        min-width: 100px;
        cursor: pointer;
    }

}

.active{

    border-radius: 12px;
    background: var(--Gradients-Gradient-1);
    color: #fff;
}
