.content {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  row-gap: 20px;
  padding: 30px;
  position: relative;

  &__top {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;

    .close {
      position: absolute;
      top: 15px;
      right: 15px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .buttons {
    padding: 0px 20px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    justify-content: space-between;

    button {
      display: grid;
      grid-auto-flow: column;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}
